.dietplan_quiz {
    margin: 50px auto 50px auto;
    padding: 0px 20px 0px 20px;
    max-width: 1400px;
}

.dietplan_quiz > form > h2 {
    color: var(--black);
    text-align: center;
    font-size: 42px;
    margin: 20px 0px;
}

.dietplan_quiz > form > nav {
    width: 95%;
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0px auto 75px auto;
}

.dietplan_quiz > form > nav > img {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.dietplan_quiz > form > nav > div {
    width: 100%;
    height: 5px;
    background-color: var(--black);
}

.dietplan_quiz > form > nav > div > div {
    height: 5px;
    background-color: var(--green);
    transition: .5s all;
}

@media screen and (max-width: 850px) {

    .dietplan_quiz > form > nav {
        width: 85%;
    }

    .dietplan_quiz > form > h2 {
        font-size: 38px;
    }

    .dietplan_quiz > form > nav > img {
        width: 20px;
        height: 20px;
    }

}

@media screen and (max-width: 700px) {

    .dietplan_quiz > form > h2 {
        font-size: 34px;
    }

}

@keyframes slideIn {
    0% {
        top: -25px;
        opacity: 0;
    }
    100% {
        top: 0;
        opacity: 1;
    }
}

/* question_one */


.dietplan_quiz > form > .DietplanQuestionOne {
    position: relative; 
    top: -25px;
    opacity: 0;
    animation: slideIn 0.5s forwards;
}

.dietplan_quiz > form > .DietplanQuestionOne > h2 {
    text-align: center;
    font-size: 42px;
    margin: 30px 0px;
}

.dietplan_quiz > form > .DietplanQuestionOne > main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
}

.dietplan_quiz > form > .DietplanQuestionOne > main > label > p {
    padding: 20px;
    margin: 0;
    width: 500px;
    max-width: 100%;
    border-radius: 5px;
    font-size: 18px;
    background-color: var(--white);
    color: var(--black);
    border: 1px solid var(--black);
    text-align: center;
    transition: .5s all;
}

.dietplan_quiz > form > .DietplanQuestionOne > main > label > p:hover {
    background-color: var(--black);
    color: white;
}

.dietplan_quiz > form > .DietplanQuestionOne > main > input {
    visibility: hidden;
    display: none;
}

.dietplan_quiz > form > .DietplanQuestionOne > main > input:checked + label {
    border-radius: 5px;
    border: 5px solid var(--green);
}

@media screen and (max-width: 850px) {

    .dietplan_quiz > form > .DietplanQuestionOne > h2 {
        font-size: 38px;
    }

}

@media screen and (max-width: 700px) {

    .dietplan_quiz > form > .DietplanQuestionOne > h2 {
        font-size: 34px;
    }

}

@media screen and (max-width: 600px) {

    .dietplan_quiz > form > .two > main > label > p {
        width: 400px;
    }

}

@media screen and (max-width: 450px) {

    .dietplan_quiz > form > .DietplanQuestionOne > main > label > p {
        width: 300px;
    }

}

@media screen and (max-width: 350px) {

    .dietplan_quiz > form > .DietplanQuestionOne > main > label > p {
        width: 200px;
    }

}

/* question_two */

.dietplan_quiz > form > .question_two {
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: slideIn 0.5s ease forwards; 
}

.dietplan_quiz > form > .question_two > h2 {
    text-align: center;
    font-size: 42px;
    margin: 30px 0px;
}

.dietplan_quiz > form > .question_two > aside {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.dietplan_quiz > form > .question_two > aside > input {
    display: none;
}

.dietplan_quiz > form > .question_two > aside > #woman,
.dietplan_quiz > form > .question_two > aside > #man {
    width: 500px;
    text-align: center;
    padding: 10px 30px;
    border-radius: 5px;
    border: 1px solid var(--black);
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    color: var(--black);
    transition: .5s all;
}

.dietplan_quiz > form > .question_two > aside > #woman:hover,
.dietplan_quiz > form > .question_two > aside > #man:hover {
    background-color: var(--black);
    color: var(--white);
}

.dietplan_quiz > form > .question_two > aside > input:checked + #woman,
.dietplan_quiz > form > .question_two > aside > input:checked + #man {
    border: 5px solid var(--green);
}

@media screen and (max-width: 1300px) {

    .dietplan_quiz > form > .question_two.show {
        width: 90%;
    }

    .dietplan_quiz > form > .question_two > aside {
        gap: 25px;
        width: 100%;
    }

    .dietplan_quiz > form > .question_two > aside > #man {
        width: 49%;
    }

    .dietplan_quiz > form > .question_two > aside > #woman {
        width: 49%;
    }

}

@media screen and (max-width: 700px) {

    .dietplan_quiz > form > .question_two > h2 {
        font-size: 32px;
        letter-spacing: .5px;
    }

    .dietplan_quiz > form > .question_two.show {
        width: 99%;
    }

    .dietplan_quiz > form > .question_two > aside {
        gap: 5px;
        width: 100%;
        margin: 25px 0px 0px 0px;
    }

    .dietplan_quiz > form > .question_two > aside > #man {
        font-size: 24px;
        letter-spacing: .5px;
        padding: 10px 0px;
    }

    .dietplan_quiz > form > .question_two > aside > #woman {
        font-size: 24px;
        letter-spacing: .5px;
        padding: 10px 0px;
    }

}

/* question_three */

.dietplan_quiz > form > .DietplanQuestionThree {
    position: relative; 
    top: -25px;
    opacity: 0;
    animation: slideIn 0.5s forwards; 
}

.dietplan_quiz > form > .DietplanQuestionThree > h2 {
    margin: 30px 0px;
    font-size: 42px;
    text-align: center;
}

.dietplan_quiz > form > .DietplanQuestionThree > main {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 500px;
    margin: 0px auto;
}

.dietplan_quiz > form > .DietplanQuestionThree > main > label {
    font-size: 18px;
}

.dietplan_quiz > form > .DietplanQuestionThree > main > input {
    padding: 10px;
    font-size: 18px;
    border: 0;
    border-bottom: 2px solid var(--green);
    border-radius: 0;
    background-color: transparent;
    outline: 0;
}

.dietplan_quiz > form > .DietplanQuestionThree > main > button {
    text-align: center;
    font-size: 18px;
    background-color: transparent;
    border: 1px solid var(--black);
    color: var(--black);
    font-weight: lighter;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: .5s all;
}

.dietplan_quiz > form > .DietplanQuestionThree > main > button:hover {
    border: 1px solid var(--white);
    background-color: var(--green);
    color: var(--white);
}


@media screen and (max-width: 850px) {

    .dietplan_quiz > form > .DietplanQuestionThree > h2 {
        font-size: 38px;
    }

    .dietplan_quiz > form > .DietplanQuestionThree > main > label {
        font-size: 16px;
    }
    
    .dietplan_quiz > form > .DietplanQuestionThree > main > input {
        font-size: 16px;
    }

}

@media screen and (max-width: 700px) {

    .dietplan_quiz > form > .DietplanQuestionThree > h2 {
        font-size: 34px;
    }

}

@media screen and (max-width: 600px) {

    .dietplan_quiz > form > .DietplanQuestionThree > main {
        width: 90%;
        margin: auto;
    }

    .dietplan_quiz > form > .DietplanQuestionThree > main > button {
        text-align: center;
        font-size: 16px;
    }

}

/* question_four */



/* question_five */



/* question_six */

.dietplan_quiz > form > .question_six {
    display: flex;
    flex-direction: column;
    animation: slideIn 0.5s ease forwards; 
}

.dietplan_quiz > form > .question_six > h2 {
    margin: 0;
    text-align: center;
    font-size: 42px;
    font-weight: 700;
}

.dietplan_quiz > form > .question_six > p {
    margin: 0;
    font-size: 18px;
    text-align: center;
    font-weight: 400;
}

.dietplan_quiz > form > .question_six > aside {
    margin: 30px 0px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.dietplan_quiz > form > .question_six > aside > label {
    text-align: center;
    width: 500px;
    margin: 0;
    padding: 20px 30px;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid var(--black);
    text-decoration: none;
    font-weight: lighter;
    color: var(--black);
    transition: .5s all;
}

.dietplan_quiz > form > .question_six > aside > label:hover {
    background-color: var(--black);
    color: var(--white);
}

.dietplan_quiz > form > .question_six > aside > input {
    display: none;
}

.dietplan_quiz > form > .question_six > aside > input:checked + label {
    border: 5px solid var(--green);
}

@media screen and (max-width: 850px) {

    .dietplan_quiz > form > .question_six > h2 {
        font-size: 38px;
    }

}

@media screen and (max-width: 700px) {

    .dietplan_quiz > form > .question_six > h2 {
        font-size: 34px;
    }

    .dietplan_quiz > form > .question_six {
        width: 100%;
    }

    .dietplan_quiz > form > .question_six > aside > label {
        width: 100%;
    }

}

/* question_seven */

.dietplan_quiz > form > .question_seven {
    display: flex;
    flex-direction: column;
    animation: slideIn 0.5s ease forwards; 
}

.dietplan_quiz > form > .question_seven > h2 {
    margin: 0;
    text-align: center;
    font-size: 42px;
}

.dietplan_quiz > form > .question_seven > aside {
    margin: 30px 0px 0px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.dietplan_quiz > form > .question_seven > aside > label {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid var(--black);
    text-decoration: none;
    font-weight: 400;
    color: var(--black);
    transition: .5s all;
}

.dietplan_quiz > form > .question_seven > aside > label:hover {
    background-color: var(--black);
    color: var(--white);
}

.dietplan_quiz > form > .question_seven > aside > input {
    display: none;
}

.dietplan_quiz > form > .question_seven > aside > input:checked + label {
    border: 5px solid var(--green);
}

.dietplan_quiz > form > .question_seven > input {
    display: none;
}

.dietplan_quiz > form > .question_seven > input:checked + label {
    border: 5px solid var(--green);
}

.dietplan_quiz > form > .question_seven > label {
    width: 50%;
    margin: 30px auto 0px auto;
    padding: 10px 0px;
    text-align: center;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid var(--black);
    text-decoration: none;
    font-weight: 400;
    color: var(--black);
    transition: .5s all;
}

.dietplan_quiz > form > .question_seven > label:hover {
    background-color: var(--black);
    color: var(--white);
}

.dietplan_quiz > form > .question_seven > p {
    width: 50%;
    margin: 7.5px auto 0px auto;
    font-size: 12px;
    font-weight: 300;
    text-align: center;
}

@media screen and (max-width: 1250px) {

    .dietplan_quiz > form > .question_seven {
        width: 100%;
        padding: 0px 20px;
    }

}

@media screen and (max-width: 850px) {

    .dietplan_quiz > form > .question_seven > h2 {
        font-size: 38px;
    }
    
}

@media screen and (max-width: 700px) {

    .dietplan_quiz > form > .question_seven > h2 {
        font-size: 34px;
    }

    .dietplan_quiz > form > .question_seven > label {
        width: 100%;
    }

    .dietplan_quiz > form > .question_seven > p {
        width: 100%;
    }

}

/* question_eight */

.dietplan_quiz > form > .question_eight {
    display: flex;
    flex-direction: column;
    animation: slideIn 0.5s ease forwards; 
}

.dietplan_quiz > form > .question_eight > h2 {
    margin: 0;
    text-align: center;
    font-size: 42px;
    font-weight: 700;
}

.dietplan_quiz > form > .question_eight > p {
    margin: 0;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

.dietplan_quiz > form > .question_eight > aside {
    margin: 50px 0px 0px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.dietplan_quiz > form > .question_eight > aside > input {
    display: none;
}

.dietplan_quiz > form > .question_eight > aside > input:checked + label {
    border: 5px solid var(--green);
}

.dietplan_quiz > form > .question_eight > aside > label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    padding: 10px 40px;
    align-items: center;
    margin: 0;
    font-size: 20px;
    border-radius: 15px;
    border: 1px solid var(--black);
    text-decoration: none;
    font-weight: lighter;
    color: var(--black);
    transition: .5s all;
}

.dietplan_quiz > form > .question_eight > aside > label:hover {
    background-color: var(--black);
}

.dietplan_quiz > form > .question_eight > aside > label:hover > p {
    color: var(--white);
}

.dietplan_quiz > form > .question_eight > aside > label > img {
    width: 40px;
    height: 40px;
}

.dietplan_quiz > form > .question_eight > aside > label > p {
    font-size: 18px;
    margin: 0;
}

@media screen and (max-width: 1000px) {

    .dietplan_quiz > form > .question_eight {
        width: 100%;
        padding: 25px 20px;
    }

}

@media screen and (max-width: 700px) {

    .dietplan_quiz > form > .question_eight > h2 {
        font-size: 38px;
    }

}

@media screen and (max-width: 700px) {

    .dietplan_quiz > form > .question_eight > h2 {
        font-size: 34px;
    }

    .dietplan_quiz > form > .question_eight > aside > label {
        width: 45%;
        min-width: 250px;
        padding: 10px 20px;
    }

}

@media screen and (max-width: 500px) {

    .dietplan_quiz > form > .question_eight {
        padding: 0;
    }

}

/* question_nine */

.dietplan_quiz > form > .question_nine {
    display: flex;
    flex-direction: column;
    animation: slideIn 0.5s ease forwards; 
}

.dietplan_quiz > form > .question_nine > h2 {
    margin: 0;
    text-align: center;
    font-size: 42px;
}

.dietplan_quiz > form > .question_nine > aside > input {
    display: none;
}

.dietplan_quiz > form > .question_nine > aside > input:checked + label {
    border: 5px solid var(--green);
}

.dietplan_quiz > form > .question_nine > aside {
    margin: 30px 0px 0px 0px ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.dietplan_quiz > form > .question_nine > aside > label {
    width: 500px;
    display: flex;
    align-items: center;
    gap: 20px;
    text-align: center;
    margin: 0;
    padding: 20px 30px;
    font-size: 18px;
    border-radius: 15px;
    border: 1px solid var(--black);
    text-decoration: none;
    font-weight: 400;
    color: var(--black);
    transition: .5s all;
}

.dietplan_quiz > form > .question_nine > aside > label:hover {
    background-color: var(--black);
}

.dietplan_quiz > form > .question_nine > aside > label:hover > p {
    color: var(--white);
}

.dietplan_quiz > form > .question_nine > aside > label > img {
    width: 35px;
    height: 35px;
}

.dietplan_quiz > form > .question_nine > aside > label > p {
    font-size: 18px;
    font-weight: 400;
    margin: 0;
}

@media screen and (max-width: 1000px) {

    .dietplan_quiz > form > .question_nine {
        width: 100%;
        padding: 0px 20px;
    }

    .dietplan_quiz > form > .question_nine > aside > label {
        width: 100%;
    }

}

@media screen and (max-width: 700px) {

    .dietplan_quiz > form > .question_nine > h2 {
        font-size: 38px;
    }

}

@media screen and (max-width: 700px) {

    .dietplan_quiz > form > .question_nine > h2 {
        font-size: 34px;
    }

    .dietplan_quiz > form > .question_nine > aside > label > img {
        width: 25px;
        height: 25px;
    }

}

/* question_ten */

.dietplan_quiz > form > .question_ten {
    display: flex;
    flex-direction: column;
    animation: slideIn 0.5s ease forwards; 
}

.dietplan_quiz > form > .question_ten > h2 {
    margin: 0;
    text-align: center;
    font-size: 42px;
}

.dietplan_quiz > form > .question_ten > aside {
    margin: 30px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.dietplan_quiz > form > .question_ten > aside > input {
    display: none;
}

.dietplan_quiz > form > .question_ten > aside > input:checked + label {
    border: 5px solid var(--green);
}

.dietplan_quiz > form > .question_ten > aside > label {
    width: 500px;
    padding: 20px 30px;
    border-radius: 5px;
    border: 1px solid var(--black);
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    color: var(--black);
    transition: .5s all;
}

.dietplan_quiz > form > .question_ten > aside > label:hover {
    background-color: var(--black);
    color: var(--white);
}

@media screen and (max-width: 1000px) {

    .dietplan_quiz > form > .question_ten {
        width: 100%;
        padding: 0px 20px;
    }

    .dietplan_quiz > form > .question_ten > aside > label {
        width: 100%;
    }

}

@media screen and (max-width: 850px) {

    .dietplan_quiz > form > .question_ten > h2 {
        font-size: 38px;
    }

}

@media screen and (max-width: 700px) {

    .dietplan_quiz > form > .question_ten > h2 {
        font-size: 34px;
    }

}

/* Create Sleepplan */
.dietplan_quiz > form > .create_dietplan {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation: slideIn 0.5s ease forwards; 
}

.dietplan_quiz > form > .create_dietplan > p {
    margin: 0;
    font-size: 18px;
    font-weight: 400;
}

.dietplan_quiz > form > .create_dietplan > h2 {
    font-size: 42px;
    margin: 0px 0px 40px 0px;
    inline-size: 95%;
    text-align: center;
}

.dietplan_quiz > form > .create_dietplan > button {
    padding: 10px 30px;
    border-radius: 15px;
    border: 1px solid var(--black);
    text-decoration: none;
    font-size: 18px;
    font-weight: lighter;
    color: var(--black);
    transition: .5s all;
}

.dietplan_quiz > form > .create_dietplan > button:hover {
    background-color: var(--green);
    color: var(--white);
    border: 1px solid var(--white);
}

@media screen and (max-width: 850px) {

    .dietplan_quiz > form > .create_dietplan > h2 {
        font-size: 38px;
    }

}

@media screen and (max-width: 700px) {

    .dietplan_quiz > form > .create_dietplan > h2 {
        font-size: 34px;
    }

    .dietplan_quiz > form > .create_dietplan > button {
        padding: 10px 40px;
        font-size: 15px;
        letter-spacing: .5px;
    }

}


/* Popup Error */

.errorMessageBackground {
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
    transition: .5s all;
}

.errorMessageBackground.show {
    position: fixed;
    visibility: visible;
    pointer-events: all;
    opacity: 1;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.717);
    width: 100%;
    height: 100%;
}

.errorMessageContainer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
    transition: 1s all;
}

.errorMessageContainer.show {
    visibility: visible;
    pointer-events: all;
    opacity: 1;
    background-color: var(--white);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 40px;
}

.errorMessageContainer > p {
    color: red;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: .5px;
}