.HeaderForWebsite {
    margin: 0px auto;
    max-width: 1800px;
    background-color: var(--white);
    width: 100%;
    padding: 20px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0px 0px 15px 15px;
    box-shadow: 0 4px 8px rgba(80, 200, 120, 0.2); /* Light shadow of var(--green) */
}

/* (Left) Logo */

.HeaderForWebsite > .LogoContainer {
    flex: 1;
}

.HeaderForWebsite > .LogoContainer > .Logo {
    width: 200px;
}

/* (Middle) Header Links Start */

.HeaderForWebsite > .HeaderLinks {
    flex: 2;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.HeaderForWebsite > .HeaderLinks > .Link {
    font-size: 20px;
    color: var(--gray);
    text-decoration: none;
    font-weight: lighter;
    transition: .5s all;
}

.HeaderForWebsite > .HeaderLinks > .Link:hover {
    font-size: 21px;
}

.HeaderForWebsite > .HeaderLinks > .CartLink {
    font-size: 20px;
    color: var(--gray);
    text-decoration: none;
    font-weight: lighter;
    display: flex;
    align-items: center;
    gap: 5px;
    transition: .5s all;
}

.HeaderForWebsite > .HeaderLinks > .CartLink:hover {
    font-size: 21px;
}

.HeaderForWebsite > .HeaderLinks > .CartLink > .AmountInCart {
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 15px;
    background-color: var(--green);
    color: var(--white);
}

/* (Right) Button */

.HeaderForWebsite > .ButtonContainer {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: right;
}

.HeaderForWebsite > .ButtonContainer .ButtonLink {
    padding: 10px 30px;
    border-radius: 15px;
    border: 1px solid var(--black);
    text-decoration: none;
    font-size: 20px;
    font-weight: lighter;
    color: var(--black);
    transition: .5s all;
} 

.HeaderForWebsite > .ButtonContainer .ButtonLink:hover {
    background-color: var(--green);
    color: var(--white);
    border: 1px solid var(--white);
}

@media only screen and (max-width: 1150px) {

    .HeaderForWebsite > .HeaderLinks {
        gap: 25px;
    }

    .HeaderForWebsite > .HeaderLinks > .Link {
        font-size: 18px;
    }

    .HeaderForWebsite > .HeaderLinks > .Link:hover {
        font-size: 19px;
    }

    .HeaderForWebsite > .HeaderLinks > .CartLink {
        font-size: 18px;
    }
    
    .HeaderForWebsite > .HeaderLinks > .CartLink:hover {
        font-size: 19px;
    }

    .HeaderForWebsite > .ButtonContainer .ButtonLink {
        padding: 8px 20px;
        font-size: 18px;
    } 

    .HeaderForWebsite > .LogoContainer > .Logo {
        width: 150px;
    }

}