
.HeaderContainerForWebsite {
    box-shadow: 10px 10px 20px rgba(80, 200, 120, 0.2);
}

.HeaderForWebsite {
    margin: 0px auto;
    max-width: 1600px;
    background-color: var(--white);
    width: 100%;
    padding: 20px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* (Left) Logo */

.HeaderForWebsite > .LogoContainer {
    flex: 1;
}

.HeaderForWebsite > .LogoContainer > .LogoLink > .Logo {
    width: 200px;
    cursor: pointer;
}

/* (Middle) Header Links Start */

.HeaderForWebsite > .HeaderLinks {
    flex: 2;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.HeaderForWebsite > .HeaderLinks > .Link {
    font-size: 20px;
    color: var(--gray);
    text-decoration: none;
    font-weight: lighter;
    transition: .5s all;
}

.HeaderForWebsite > .HeaderLinks > .Link:hover {
    font-size: 21px;
}

.HeaderForWebsite > .HeaderLinks > .CartLink {
    font-size: 20px;
    color: var(--gray);
    text-decoration: none;
    font-weight: lighter;
    display: flex;
    align-items: center;
    gap: 5px;
    transition: .5s all;
}

.HeaderForWebsite > .HeaderLinks > .CartLink:hover {
    font-size: 21px;
}

.HeaderForWebsite > .HeaderLinks > .CartLink > .AmountInCart {
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 15px;
    background-color: var(--green);
    color: var(--white);
}

/* (Right) Button */

.HeaderForWebsite > .ButtonContainer {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: right;
}

.HeaderForWebsite > .ButtonContainer .ButtonLink {
    padding: 10px 30px;
    border-radius: 15px;
    border: 1px solid var(--black);
    text-decoration: none;
    font-size: 20px;
    font-weight: lighter;
    color: var(--black);
    transition: .5s all;
} 

.HeaderForWebsite > .ButtonContainer .ButtonLink:hover {
    background-color: var(--green);
    color: var(--white);
    border: 1px solid var(--white);
}

.HeaderForWebsite > .ButtonContainer .Hamburgermenu {
    display: none;
}

@media only screen and (max-width: 1150px) {

    .HeaderForWebsite > .HeaderLinks {
        gap: 25px;
    }

    .HeaderForWebsite > .HeaderLinks > .Link {
        font-size: 18px;
    }

    .HeaderForWebsite > .HeaderLinks > .Link:hover {
        font-size: 19px;
    }

    .HeaderForWebsite > .HeaderLinks > .CartLink {
        font-size: 18px;
    }
    
    .HeaderForWebsite > .HeaderLinks > .CartLink:hover {
        font-size: 19px;
    }

    .HeaderForWebsite > .ButtonContainer .ButtonLink {
        padding: 8px 20px;
        font-size: 18px;
    } 

    .HeaderForWebsite > .LogoContainer > .LogoLink > .Logo {
        width: 150px;
    }

}

@media only screen and (max-width: 950px) {

    .HeaderForWebsite > .HeaderLinks {
        display: none;
    }

    .HeaderForWebsite > .ButtonContainer > .ButtonLink {
        display: none;
    }

    .HeaderForWebsite > .ButtonContainer .Hamburgermenu {
        display: block;
        width: 30px;
        cursor: pointer;
    }

}

/* SlideInMenuForHeader */

.BackgroundForSlideInMenu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.539);
    z-index: 3;
    display: none;
}

.BackgroundForSlideInMenu.show {
    display: block;
}

.ContainerForSlideInMenu {
    position: fixed;
    right: 0;
    top: 0;
    background-color: var(--white);
    width: 0vh;
    height: 100%;
    z-index: 4;
    border-radius: 15px 0px 0px 15px;
    padding: 40px 30px;
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
    transition: .5s all;
}

.ContainerForSlideInMenu.show {
    visibility: visible;
    pointer-events: all;
    width: 25vh;
    opacity: 1;
}

.ContainerForSlideInMenu > .SlideInMenuLinks {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    gap: 20px;
    width: 180px;
}

.ContainerForSlideInMenu > .SlideInMenuLinks > .line {
    width: 100%;
    height: 1px;
    border-radius: 15px;
    background-color: var(--gray);
}

.ContainerForSlideInMenu > .SlideInMenuLinks > .Link {
    font-size: 20px;
    color: var(--gray);
    text-decoration: none;
    font-weight: lighter;
    transition: .5s all;
}

.ContainerForSlideInMenu > .SlideInMenuLinks > .Link:hover {
    font-size: 21px;
}

.ContainerForSlideInMenu > .SlideInMenuLinks > .CartLink {
    font-size: 20px;
    color: var(--gray);
    text-decoration: none;
    font-weight: lighter;
    display: flex;
    align-items: center;
    gap: 5px;
    transition: .5s all;
}

.ContainerForSlideInMenu > .SlideInMenuLinks > .CartLink:hover {
    font-size: 21px;
}

.ContainerForSlideInMenu > .SlideInMenuLinks > .CartLink > .AmountInCart {
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 15px;
    background-color: var(--green);
    color: var(--white);
    margin: 0;
}

.ContainerForSlideInMenu > .SlideInMenuLinks > .ButtonLink {
    padding: 10px 30px;
    border-radius: 15px;
    border: 1px solid var(--black);
    text-decoration: none;
    font-size: 20px;
    font-weight: lighter;
    color: var(--black);
    transition: .5s all;
    text-align: center;
} 

.ContainerForSlideInMenu > .SlideInMenuLinks > .ButtonLink:hover {
    background-color: var(--green);
    color: var(--white);
    border: 1px solid var(--white);
}