@keyframes fadeInMoveDown {
    from {
        opacity: 0;
        top: 25px;
    }
    to {
        opacity: 1;
        top: 0px;
    }
}


/* hero */
.HomepageHeroSection {
    width: 95%;
    max-width: 1600px;
    margin: 50px auto 0px auto;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    position: relative;
    animation: fadeInMoveDown 1s ease forwards;
}

.HomepageHeroSection > article {
    display: flex;
    flex-direction: column;
}

.HomepageHeroSection > article > img {
    width: 125px;
    margin: 0px 0px 50px 0px;
}

.HomepageHeroSection > article > h3 {
    margin: 0;
    font-weight: lighter;
    color: var(--gray);
    font-size: 18px;
}

.HomepageHeroSection > article > h1 {
    font-size: 42px;
    margin: 0px 0px 20px 0px;
}

.HomepageHeroSection > article > p {
    font-size: 16px;
    margin: 0;
}

.HomepageHeroSection > article > p > span {
    font-weight: bold;
}

.HomepageHeroSection > article > div {
    width: 350px;
}

.HomepageHeroSection > article > div > .btn {
    padding: 10px 30px;
    margin: 40px 0px 0px 0px;
    border-radius: 15px;
    border: 1px solid var(--black);
    text-decoration: none;
    font-size: 20px;
    font-weight: lighter;
    color: var(--black);
    text-align: center;
    font-weight: bold;
    display: block;
    transition: .5s all;
}

.HomepageHeroSection > article > div > .btn:hover {
    background-color: var(--green);
    color: var(--white);
    border: 1px solid var(--white);
}

.HomepageHeroSection > article > div > .btn > span {
    font-weight: lighter;
    font-size: 16px;
}

.HomepageHeroSection > article > div > .reassurance {
    font-size: 14px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: var(--gray);
    text-align: center;
}

.HomepageHeroSection > article > div > .reassurance > img {
    width: 10px;
}

.HomepageHeroSection > aside {
    display: flex;
    justify-content: center;
    align-items: center;
}

.HomepageHeroSection > aside > img {
    max-height: 600px;
    height: 100%;
}

@media only screen and (max-width: 1250px) {

    .HomepageHeroSection > article {
        padding: 20px 0px;
    }

    .HomepageHeroSection > aside > img {
        max-height: 500px;
        height: 80%;
    }

}

@media only screen and (max-width: 1150px) {

    .HomepageHeroSection > article > h1 {
        font-size: 38px;
    }

}

@media only screen and (max-width: 950px) {

    .HomepageHeroSection {
        width: 95%;
        padding: 0;
        flex-direction: column;
        gap: 20px;
    }

    .HomepageHeroSection > article > img {
        width: 125px;
        margin: 0px auto 25px auto;
    }

    .HomepageHeroSection > article > h1 {
        text-align: center;
        font-size: 24px;
    }

    .HomepageHeroSection > article > p {
        text-align: center;
        font-size: 14px;
    }

    .HomepageHeroSection > article > h3 {
        text-align: center;
        font-size: 16px;
    }

    .HomepageHeroSection > article > div {
        margin: auto;
    }

    .HomepageHeroSection > aside {
        width: 100%;
    }

    .HomepageHeroSection > aside > img {
        max-height: 600px;
        width: 500px;
    }

}

@media only screen and (max-width: 500px) {

    .HomepageHeroSection > aside > img {
        width: 100%;
    }

}

/* Line Code */

.HomeLineDesign {
    width: 95%;
    height: 5px;
    border-radius: 5px;
    margin: auto;
    max-width: 1600px;
    background-color: var(--black);
}

/* ThreeBenifits */

.ThreeBenifitsSection {
    width: 98%;
    max-width: 1600px;
    padding: 0px;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ThreeBenifitsSection > article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 30%;
}

.ThreeBenifitsSection > article > img {
    width: 45px;
}

.ThreeBenifitsSection > article > h3 {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
}

@media only screen and (max-width: 750px) {

    .ThreeBenifitsSection {
        flex-direction: column;
        gap: 40px;
    }

    .ThreeBenifitsSection > article > img {
        width: 55px;
    }

    .ThreeBenifitsSection > article {
        width: 100%;
    }

}

/* Do You Train Hard Without Seeing Results */

.DoYouTrainHardWithoutSeeingResults {
    margin: 40px auto;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.DoYouTrainHardWithoutSeeingResults > img {
    width: 300px;
    height: 300px;
}

.DoYouTrainHardWithoutSeeingResults > aside {
    width: 650px;
}

.DoYouTrainHardWithoutSeeingResults > aside > h2 {
    font-size: 32px;
    font-weight: 700;
    margin: 0px 0px 20px 0px;
}

.DoYouTrainHardWithoutSeeingResults > aside > p {
    font-size: 16px;
    font-weight: 300;
    margin: 10px 0px;
}

.DoYouTrainHardWithoutSeeingResults > aside > p > span {
    font-weight: 400;
}

@media only screen and (max-width: 1100px) {

    .DoYouTrainHardWithoutSeeingResults > img {
        width: 200px;
        height: 200px;
    }

}

@media only screen and (max-width: 850px) {

    .DoYouTrainHardWithoutSeeingResults {
        flex-direction: column;
    }

    .DoYouTrainHardWithoutSeeingResults > aside {
        width: 80%;
    }

    .DoYouTrainHardWithoutSeeingResults > aside > h2 {
        font-size: 28px;
    }

}

@media only screen and (max-width: 700px) {

    .DoYouTrainHardWithoutSeeingResults > img {
        width: 125px;
        height: 125px;
    }

    .DoYouTrainHardWithoutSeeingResults > aside {
        width: 100%;
    }

    .DoYouTrainHardWithoutSeeingResults > aside > h2 {
        font-size: 24px;
    }

}

/* What If You Had A Plan That Actually Works */

.WhatIfYouHadAPlanThatActuallyWorks {
    width: 95%;
    margin: 40px auto;
}

.WhatIfYouHadAPlanThatActuallyWorks > h2 {
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    margin: 0px;
}

.WhatIfYouHadAPlanThatActuallyWorks > p {
    font-weight: 300;
    font-size: 16px;
    text-align: center;
    margin: 0;
}

@media only screen and (max-width: 850px) {

    .WhatIfYouHadAPlanThatActuallyWorks > h2 {
        font-size: 28px;
    }

}

@media only screen and (max-width: 700px) {

    .WhatIfYouHadAPlanThatActuallyWorks > h2 {
        font-size: 24px;
    }

}

/* Scandifit Health Package Details */

.ScandifitHealthPackage {
    width: 95%;
    margin: 50px auto;
}

.ScandifitHealthPackage > div {
    width: 90%;
    margin: auto;
}

.ScandifitHealthPackage > div > h3 {
    font-size: 18px;
    color: var(--gray);
    font-weight: 400;
    margin: 0;
    text-align: center;
}

.ScandifitHealthPackage > div > h2 {
    font-weight: 700;
    font-size: 32px;
    margin: 0;
    text-align: center;
}

.ScandifitHealthPackage > div > p {
    font-weight: 300;
    font-size: 16px;
    margin: 0px 0px 50px 0px;
    text-align: center;
}

.ScandifitHealthPackage > article {
    width: 800px;
    padding: 20px;
    margin: auto;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    border: 1px solid var(--gray);
}

.ScandifitHealthPackage > article > h2 {
    font-size: 24px;
    margin: 0;
    text-align: center;
}

.ScandifitHealthPackage > article > h3 {
    margin: 20px 0px 0px 0px;
    text-align: center;
    font-size: 18px;
    font-weight: 300;
}

.ScandifitHealthPackage > article > img {
    width: 500px;
    margin: auto;
}

.ScandifitHealthPackage > article > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.ScandifitHealthPackage > article > ul > li {
    display: flex;
    align-items: center;
    gap: 10px;
}

.ScandifitHealthPackage > article > ul > li > img {
    width: 30px;
}

.ScandifitHealthPackage > .PlusDiv {
    margin: 50px auto;
}

.ScandifitHealthPackage > .PlusDiv > h2 {
    font-size: 42px;
    font-weight: 700;
    margin: 0;
    text-align: center;
}

.ScandifitHealthPackage > .LineDiv {
    width: 100%;
    margin: 50px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ScandifitHealthPackage > .LineDiv > .Line {
    height: 75px;
    width: 2px;
    background-color: var(--black);
}

.ScandifitHealthPackage > h3 {
    text-align: center;
    margin: 0;
    font-size: 20px;
    font-weight: 400;
}

.ScandifitHealthPackage > h4 {
    margin: 0;
    text-align: center;
    font-size: 16px;
    font-weight: 300;
}

.ScandifitHealthPackage > h2 {
    text-align: center;
    margin: 20px 0px 0px 0px;
    font-weight: 400;
}

.ScandifitHealthPackage > h2 > span {
    font-weight: 700;
}

.ScandifitHealthPackage > p {
    text-align: center;
    margin: 0;
    font-weight: 300;
}

.ScandifitHealthPackage > .getHealthPackageBtn {
    padding: 10px 20px;
    margin: 20px auto 0px auto;
    border-radius: 15px;
    border: 1px solid var(--black);
    text-decoration: none;
    font-size: 16px;
    font-weight: lighter;
    color: var(--black);
    text-align: center;
    font-weight: 400;
    display: block;
    width: 500px;
    transition: .5s all;
}

.ScandifitHealthPackage > .getHealthPackageBtn:hover {
    background-color: var(--green);
    color: var(--white);
    border: 1px solid var(--white);
}

.ScandifitHealthPackage > .getHealthPackageBtn > span {
    font-weight: lighter;
}

@media only screen and (max-width: 850px) {

    .ScandifitHealthPackage {
        width: 98%;
    }

    .ScandifitHealthPackage > div > h2 {
        font-size: 28px;
    }

    .ScandifitHealthPackage > article {
        width: 100%;
    }

}

@media only screen and (max-width: 700px) {

    .ScandifitHealthPackage > div > h2 {
        font-size: 24px;
    }

    .ScandifitHealthPackage > article > h2 {
        font-size: 20px;
    }

    .ScandifitHealthPackage > article > img {
        width: 350px;
    }

    .ScandifitHealthPackage > .getHealthPackageBtn {
        width: 75%;
    }

}

@media only screen and (max-width: 450px) {

    .ScandifitHealthPackage > article > img {
        width: 250px;
        height: 150px;
    }

}

/* how Does The ScandifitHealthPackage Work */

.howDoesTheScandifitHealthPackageWork {
    width: 95%;
    margin: 100px auto 50px auto;
    max-width: 1600px;
}

.howDoesTheScandifitHealthPackageWork > h2 {
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    margin: 0px 0px 40px 0px;
}

.howDoesTheScandifitHealthPackageWork > article {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.howDoesTheScandifitHealthPackageWork > article > div {
    border-radius: 15px;
    height: 900px;
    width: 5px;
    background-color: var(--green);
}

.howDoesTheScandifitHealthPackageWork > article > aside {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.howDoesTheScandifitHealthPackageWork > article > aside > div {
    width: 600px;
    height: 200px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.howDoesTheScandifitHealthPackageWork > article > aside > div > img {
    width: 150px;
}

.howDoesTheScandifitHealthPackageWork > article > aside > div > aside {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.howDoesTheScandifitHealthPackageWork > article > aside > div > aside > h4 {
    margin: 0;
    font-size: 18px;
    font-weight: 400;
}

.howDoesTheScandifitHealthPackageWork > article > aside > div > aside > p {
    margin: 0;
    font-size: 16px;
    font-weight: 300;
}

.howDoesTheScandifitHealthPackageWork > article > aside > .line {
    display: none;
}


@media only screen and (max-width: 1340px) {

    .howDoesTheScandifitHealthPackageWork > article > aside > div {
        width: 400px;
    }

}

@media only screen and (max-width: 920px) {

    .howDoesTheScandifitHealthPackageWork > article > aside > div {
        width: 350px;
    }

    .howDoesTheScandifitHealthPackageWork > article > aside > div > img {
        width: 125px;
    }

}

@media only screen and (max-width: 850px) {

    .howDoesTheScandifitHealthPackageWork {
        width: 98%;
    }

    .howDoesTheScandifitHealthPackageWork > h2 {
        font-size: 28px;
    }

    .howDoesTheScandifitHealthPackageWork > article {
        flex-direction: column;
        gap: 10px;
    }

    .howDoesTheScandifitHealthPackageWork > article > aside > div {
        width: 75%;
        margin: auto;
        height: 200px;
    }

    .howDoesTheScandifitHealthPackageWork > article > aside > .remove {
        display: none;
    }

    .howDoesTheScandifitHealthPackageWork > article > div {
        display: none;
    }

    .howDoesTheScandifitHealthPackageWork > article > aside > .line {
        display: block;
        width: 100%;
        height: 2px;
        border-radius: 15px;
        background-color: var(--green);
        padding: 0;
    }

}

@media only screen and (max-width: 600px) {

    .howDoesTheScandifitHealthPackageWork > article > aside > div {
        width: 95%;
        height: auto;
        padding: 10px 0px;
    }

    .howDoesTheScandifitHealthPackageWork > article > aside > div > img {
        width: 100px;
    }

}

@media only screen and (max-width: 420px) {

    .howDoesTheScandifitHealthPackageWork > article > aside > div {
        align-items: baseline;
        flex-direction: column;
    }

}

/* Benifits That You Can Expect */

.ThreeBenifitsSection > article > h2 {
    margin: 0;
    font-size: 18px;
}

/* Home Sammanfattning */

.HomeSammanfattning {
    width: 95%;
    margin: 40px auto;
}

.HomeSammanfattning > p {
    font-size: 18px;
    color: var(--gray);
    margin: 0px;
    text-align: center;
}

.HomeSammanfattning > h2 {
    font-size: 32px;
    margin: 0px 0px 40px 0px;
    text-align: center;
}

.HomeSammanfattning > article {
    padding: 20px;
    border-radius: 15px;
    width: 95%;
    max-width: 750px;
    margin: auto;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.HomeSammanfattning > article > img {
    width: 200px;
    border: 1px solid var(--black);
    margin: auto;
}

.HomeSammanfattning > article > ul {
    padding: 0;
    margin: 30px 0px;
    list-style: none;
}

.HomeSammanfattning > article > ul > li {
    text-align: center;
    font-weight: 300;
    margin: 10px 0px;
    color: var(--black);
}

.HomeSammanfattning > article > ul > li > span {
    font-weight: 400;
}

.HomeSammanfattning > article > h2 {
    font-weight: 28px;
    font-size: 700;
    margin: 0;
    text-align: center;
}

.HomeSammanfattning > article > h3 {
    font-size: 18px;
    font-weight: 400;
    color: var(--gray);
    margin: 0;
    text-align: center;
}

.HomeSammanfattning > article > div {
    width: 450px;
    margin: auto;
}

.HomeSammanfattning > article > div > .btn {
    padding: 5px 0;
    margin: 30px 0px 0px 0px;
    border-radius: 15px;
    border: 1px solid var(--black);
    text-decoration: none;
    font-size: 16px;
    font-weight: lighter;
    color: var(--black);
    text-align: center;
    font-weight: bold;
    display: block;
    transition: .5s all;
}

.HomeSammanfattning > article > div > .btn:hover {
    background-color: var(--green);
    color: var(--white);
    border: 1px solid var(--white);
}

.HomeSammanfattning > article > div > .btn > span {
    font-weight: lighter;
    font-size: 14px;
}

.HomeSammanfattning > article > div > p {
    margin: auto;
    font-weight: 300;
    font-size: 14px;
    text-align: center;
    inline-size: 95%;
}

@media only screen and (max-width: 850px) {

    .HomeSammanfattning > h2 {
        font-size: 28px;
    }

    .HomeSammanfattning > article > h2 {
        font-size: 24px;
    }

}

@media only screen and (max-width: 700px) {

    .HomeSammanfattning > h2 {
        font-size: 24px;
    }

    .HomeSammanfattning > article > div {
        width: 95%;
    }

    .HomeSammanfattning > article > h2 {
        font-size: 20px;
    }

}