.quiz {
    margin: 50px auto 50px auto;
    padding: 0px 20px 0px 20px;
    max-width: 1400px;
}

.quiz > form > h2 {
    color: var(--black);
    text-align: center;
    font-size: 42px;
    margin: 20px 0px;
}

.quiz > form > nav {
    width: 95%;
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0px auto 75px auto;
}

.quiz > form > nav > img {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.quiz > form > nav > div {
    width: 100%;
    height: 5px;
    background-color: var(--black);
}

.quiz > form > nav > div > div {
    height: 5px;
    background-color: var(--green);
    transition: .5s all;
}

@media screen and (max-width: 850px) {

    .quiz > form > nav {
        width: 85%;
    }

    .quiz > form > h2 {
        font-size: 38px;
    }

    .quiz > form > nav > img {
        width: 20px;
        height: 20px;
    }

}

@media screen and (max-width: 700px) {

    .quiz > form > h2 {
        font-size: 34px;
    }

}

/* quiz */

@keyframes slideIn {
    to {
        top: 0;
        opacity: 1;
    }
}

/* quiz one */

.quiz > form > .one {
    position: relative; 
    top: -25px;
    opacity: 0;
    animation: slideIn 0.5s forwards; 
}

.quiz > form > .one > h2 {
    margin: 30px 0px;
    font-size: 42px;
    text-align: center;
}

.quiz > form > .one > main {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 500px;
    margin: 0px auto;
}

.quiz > form > .one > main > label {
    font-size: 18px;
}

.quiz > form > .one > main > input {
    padding: 10px;
    font-size: 18px;
    border: 0;
    border-bottom: 2px solid var(--green);
    border-radius: 0;
    background-color: transparent;
    outline: 0;
}

.quiz > form > .one > main > button {
    text-align: center;
    font-size: 18px;
    background-color: transparent;
    border: 1px solid var(--black);
    color: var(--black);
    font-weight: lighter;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: .5s all;
}

.quiz > form > .one > main > button:hover {
    border: 1px solid var(--white);
    background-color: var(--green);
    color: var(--white);
}


@media screen and (max-width: 850px) {

    .quiz > form > .one > h2 {
        font-size: 38px;
    }

    .quiz > form > .one > main > label {
        font-size: 16px;
    }
    
    .quiz > form > .one > main > input {
        font-size: 16px;
    }

}

@media screen and (max-width: 700px) {

    .quiz > form > .one > h2 {
        font-size: 34px;
    }

}

@media screen and (max-width: 600px) {

    .quiz > form > .one > main {
        width: 90%;
        margin: auto;
    }

    .quiz > form > .one > main > button {
        text-align: center;
        font-size: 16px;
    }

}

/* quiz two */

.quiz > form > .two {
    position: relative; 
    top: -25px;
    opacity: 0;
    animation: slideIn 0.5s forwards;
}

.quiz > form > .two > h2 {
    text-align: center;
    font-size: 42px;
    margin: 30px 0px;
}

.quiz > form > .two > main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
}

.quiz > form > .two > main > label > p {
    padding: 20px;
    margin: 0;
    width: 500px;
    max-width: 100%;
    border-radius: 5px;
    font-size: 18px;
    background-color: var(--white);
    color: var(--black);
    border: 1px solid var(--black);
    text-align: center;
    transition: .5s all;
}

.quiz > form > .two > main > label > p:hover {
    background-color: var(--black);
    color: white;
}

.quiz > form > .two > main > input {
    visibility: hidden;
    display: none;
}

.quiz > form > .two > main > input:checked + label {
    border-radius: 5px;
    border: 5px solid var(--green);
}

@media screen and (max-width: 850px) {

    .quiz > form > .two > h2 {
        font-size: 38px;
    }

}

@media screen and (max-width: 700px) {

    .quiz > form > .two > h2 {
        font-size: 34px;
    }

}

@media screen and (max-width: 600px) {

    .quiz > form > .two > main > label > p {
        width: 400px;
    }

}

@media screen and (max-width: 450px) {

    .quiz > form > .two > main > label > p {
        width: 300px;
    }

}

@media screen and (max-width: 350px) {

    .quiz > form > .two > main > label > p {
        width: 200px;
    }

}

/* quiz three */

.quiz > form > .three {
    position: relative; 
    top: -25px;
    opacity: 0;
    animation: slideIn 0.5s forwards; 
}

.quiz > form > .three > h2 {
    margin: 30px 0px;
    font-size: 42px;
    text-align: center;
}

.quiz > form > .three > main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.quiz > form > .three > main > label {
    width: 500px;
    background-color: transparent;
    border: 1px solid var(--black);
    padding: 20px;
    border-radius: 5px;
    transition: .5s all;
}

.quiz > form > .three > main > label:hover {
    background-color: var(--black);
}

.quiz > form > .three > main > label:hover > h3 {
    color: var(--white);
}

.quiz > form > .three > main > label:hover > p {
    color: var(--white);
}


.quiz > form > .three > main > label > h3 {
    color: var(--black);
    font-size: 18px;
    font-weight: 700;
    margin: 0;
}

.quiz > form > .three > main > label > p {
    color: var(--black);
    font-size: 16px;
    font-weight: 300;
    margin: 0;
}

.quiz > form > .three > main > input {
    visibility: hidden;
    display: none;
}

.quiz > form > .three > main > input:checked + label {
    border: 5px solid var(--green);
}

.quiz > form > .three > main > div {
    border-radius: 5px;
    padding: 20px;
    width: 500px;
    border: .5px solid var(--black);
    position: relative;
}

.quiz > form > .three > main > div > h2 {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.25;
    inline-size: 65%;
    margin: 0;
}

.quiz > form > .three > main > div > p {
    margin: 10px 0px;
    letter-spacing: .5px;
    font-size: 16px;
    font-weight: 300;
}

.quiz > form > .three > main > div > h6 {
    font-weight: 300;
    margin: 0px 0px 10px 0px;
    font-size: 16px;
}

.quiz > form > .three > main > div > h6 > span {
    font-weight: 400;
}

.quiz > form > .three > main > div > img {
    position: absolute;
    max-width: 60px;
    top: 20px;
    right: 20px;
}

@media screen and (max-width: 850px) {

    .quiz > form > .three > h2 {
        font-size: 38px;
    }

}

@media screen and (max-width: 700px) {

    .quiz > form > .three > h2 {
        font-size: 34px;
    }

}

@media screen and (max-width: 600px) {

    .quiz > form > .three > main > label {
        width: 100%;
    }

    .quiz > form > .three > main > div {
        width: 100%;
    }

}

/* quiz Four */

.quiz > form > .four {
    position: relative; 
    top: -25px;
    opacity: 0;
    animation: slideIn 0.5s forwards; 
}

.quiz > form > .four > h2 {
    text-align: center;
    font-size: 42px;
    margin: 30px 0px 0px 0px;
}

.quiz > form > .four > p {
    font-weight: lighter;
    text-align: center;
    font-size: 18px;
    margin: 0;
}

.quiz > form > .four > main {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    margin: 50px 0px 0px 0px;
}

.quiz > form > .four > main > label {
    background-color: var(--white);
    border: 1px solid var(--black);
    border-radius: 5px;
    padding: 20px;
    width: 500px;
    transition: .5s all;
}

.quiz > form > .four > main > label:hover {
    background-color: var(--black);
}

.quiz > form > .four > main > label:hover > p {
    color: var(--white);
}

.quiz > form > .four > main > label > p {
    color: var(--black);
    font-size: 18px;
    font-weight: 400;
}

.quiz > form > .four > main > input {
    visibility: hidden;
    display: none;
}

.quiz > form > .four > main > input:checked + label {
    border: 5px solid var(--green);
}

@media screen and (max-width: 850px) {

    .quiz > form > .four > h2 {
        font-size: 38px;
    }
    
}

@media screen and (max-width: 700px) {

    .quiz > form > .four > h2 {
        font-size: 34px;
    }
    
}

@media screen and (max-width: 600px) {

    .quiz > form > .four > main > label {
        width: 100%;
    }
    
}

@media screen and (max-width: 500px) {

    .quiz > form > .four > main > div {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 20px;
        width: 100%;
    }

    .quiz > form > .four > main > div > label {
        width: 90%;
    }

    .quiz > form > .four > main > div > label > img{
        width: 100px;
    }

    .quiz > form > .four > main > div > label > p {
        font-size: 25px;
        letter-spacing: 0;
    }
    
}

/* quiz Five */

/* quiz Six */

/* quiz Seven */

.quiz > form > .seven {
    position: relative; 
    top: -25px;
    opacity: 0;
    animation: slideIn 0.5s forwards;
}

.quiz > form > .seven > h2 {
    font-size: 42px;
    text-align: center;
    margin: 30px 0px 0px 0px;
    line-height: 1.25;
}

.quiz > form > .seven > p {
    font-weight: lighter;
    font-size: 18px;
    text-align: center;
    margin: 0px 0px 75px 0px;
}

.quiz > form > .seven > aside {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.quiz > form > .seven > aside > input {
    display: none;
}

.quiz > form > .seven > aside > input:checked + label {
    border: 5px solid var(--green);
}

.quiz > form > .seven > aside > label {
    cursor: pointer;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 400;
    padding: 20px;
    border: 1px solid var(--black);
    border-radius: 5px;
    transition: 1s all;
}

.quiz > form > .seven > aside > label:hover {
    background-color: var(--black);
    color: var(--white);
}

@media screen and (max-width: 850px) {

    .quiz > form > .seven > h2 {
        font-size: 38px;
    }

}

@media screen and (max-width: 700px) {

    .quiz > form > .seven > h2 {
        font-size: 34px;
    }

}

/* quiz eight */

.quiz > form > .eight {
    position: relative; 
    top: -25px;
    opacity: 0;
    animation: slideIn 0.5s forwards; 
}

.quiz > form > .eight > h2 {
    font-size: 42px;
    text-align: center;
    margin: 0px 0px 75px 0px;
}

.quiz > form > .eight > aside {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.quiz > form > .eight > aside > input {
    display: none;
}

.quiz > form > .eight > aside > input:checked + label {
    border: 5px solid var(--green);
}

.quiz > form > .eight > aside > label {
    background-color: var(--white);
    color: var(--black);
    border: 1px solid var(--black);
    border-radius: 5px;
    padding: 20px;
    width: 500px;
    font-size: 18px;
    transition: .5s all;
}

.quiz > form > .eight > aside > label:hover {
    background-color: var(--black);
    color: var(--white);
}

.quiz > form > .eight > aside > .inget {
    background-color: var(--black);
    color: var(--white);
}

.quiz > form > .eight > aside > .inget:hover {
    background-color: var(--white);
    color: var(--black);
    border: 1px solid var(--black);
}

@media screen and (max-width: 850px) {

    .quiz > form > .eight > h2 {
        font-size: 38px;
    }

}

@media screen and (max-width: 700px) {

    .quiz > form > .eight > h2 {
        font-size: 34px;
    }

}

@media screen and (max-width: 600px) {

    .quiz > form > .eight > aside > label {
        width: 100%;
    }

}

/* quiz nine */

/* quiz ten */

.quiz > form > .ten {
    position: relative; 
    top: -25px;
    opacity: 0;
    animation: slideIn 0.5s forwards;
}

.quiz > form > .ten > h2 {
    font-size: 42px;
    text-align: center;
    margin: 30px 0px;
}

.quiz > form > .ten > main {
    width: 500px;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.quiz > form > .ten > main > input {
    display: none;
}

.quiz > form > .ten > main > input:checked + label {
    border: 5px solid var(--green);
}

.quiz > form > .ten > main > label {
    border: 1px solid var(--black);
    width: 100%;
    padding: 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: .5s all;
}

.quiz > form > .ten > main > label > h3 {
    font-size: 18px;
    margin: 0;
    font-weight: 400;
    color: var(--black);
}

.quiz > form > .ten > main > label > p {
    font-size: 16px;
    margin: 0;
    font-weight: 300;
    color: var(--black);
}

.quiz > form > .ten > main > label:hover {
    background-color: var(--black);
}

.quiz > form > .ten > main > label:hover > p,
.quiz > form > .ten > main > label:hover > h3 {
    color: var(--white);
}

@media screen and (max-width: 850px) {

    .quiz > form > .ten > h2 {
        font-size: 38px;
    }

}

@media screen and (max-width: 700px) {

    .quiz > form > .ten > h2 {
        font-size: 34px;
    }

}

@media screen and (max-width: 600px) {

    .quiz > form > .ten > main {
        width: 100%;
    }

}

/* Eleven Extra Question */

.quiz > form > .ElevenExtraQuestion {
    position: relative; 
    top: -25px;
    opacity: 0;
    animation: slideIn 0.5s forwards;
}

.quiz > form > .ElevenExtraQuestion > h3 {
    margin: 30px 0px 0px 0px;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
}

.quiz > form > .ElevenExtraQuestion > h2 {
    font-size: 42px;
    text-align: center;
    margin: 0px 0px 30px 0px;
}

.quiz > form > .ElevenExtraQuestion > main {
    width: 500px;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.quiz > form > .ElevenExtraQuestion > main > input {
    display: none;
}

.quiz > form > .ElevenExtraQuestion > main > input:checked + label {
    border: 5px solid var(--green);
}

.quiz > form > .ElevenExtraQuestion > main > label {
    border: 1px solid var(--black);
    width: 100%;
    padding: 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: .5s all;
}

.quiz > form > .ElevenExtraQuestion > main > label > h3 {
    font-size: 18px;
    margin: 0;
    font-weight: 400;
    color: var(--black);
}

.quiz > form > .ElevenExtraQuestion > main > label > p {
    font-size: 16px;
    margin: 0;
    font-weight: 300;
    color: var(--black);
}

.quiz > form > .ElevenExtraQuestion > main > label:hover {
    background-color: var(--black);
}

.quiz > form > .ElevenExtraQuestion > main > label:hover > p,
.quiz > form > .ElevenExtraQuestion > main > label:hover > h3 {
    color: var(--white);
}

@media screen and (max-width: 850px) {

    .quiz > form > .ElevenExtraQuestion > h2 {
        font-size: 38px;
    }

}

@media screen and (max-width: 700px) {

    .quiz > form > .ElevenExtraQuestion > h2 {
        font-size: 34px;
    }

}

@media screen and (max-width: 600px) {

    .quiz > form > .ElevenExtraQuestion > main {
        width: 100%;
    }

}

/* quiz eleven */

.quiz > form > .eleven {
    position: relative; 
    top: -25px;
    opacity: 0;
    animation: slideIn 0.5s forwards;
}

.quiz > form > .eleven > aside {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
}

.quiz > form > .eleven > main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: 650px;
}

.quiz > form > .eleven > main > h2 {
    font-size: 65px;
    letter-spacing: 1.5px;
    text-align: center;
    margin: 0px 0px 75px 0px;
    line-height: 140%;
}

.quiz > form > .eleven > main > h2 > span{
    border-bottom: 1.5px solid var(--green);
}

.quiz > form > .eleven > main > label {
    display: block;
    margin: 0px 0px 0px 0px;
    font-size: 18px;
    color: var(--black);
}

.quiz > form > .eleven > main > label > span {
    font-size: 14px;
    letter-spacing: 1px;
    margin: 2px 0px 2px 2.5px;
    color: var(--green);
}

.quiz > form > .eleven > main > input {
    outline: 0;
    border: 0;
    border-bottom: 2px solid var(--green);
    padding: 10px;
    font-size: 18px;
    box-sizing: border-box;
    margin: 0px 0px 50px 0px;
    background-color: var(--white);
}

.quiz > form > .eleven > main > #sumbit_btn, .quiz > form > .eleven > aside > #sumbit_btn {
    padding: 15px 20px;
    border: 0;
    font-weight: lighter;
    background-color: transparent;
    text-decoration: none;
    color: var(--black);
    border: 1px solid var(--black);
    font-size: 18px;
    border-radius: 15px;
    transition: .5s all;
    cursor: pointer;
}

.quiz > form > .eleven > main > #sumbit_btn:hover, .quiz > form > .eleven > aside > #sumbit_btn:hover {
    color: var(--white);
    background-color: var(--green);
    border: 1px solid var(--white);
}

.quiz > form > .eleven > main > p {
    margin: 10px 0px 0px 0px;
    font-weight: lighter;
    font-size: 14px;
    color: var(--black);
    text-align: center;
}

.quiz > form > .eleven > main > p > a {
    color: var(--green);
}

@media screen and (max-width: 750px) {

    .quiz > form > .eleven > main > h2 {
        font-size: 40px;
        letter-spacing: 0px;
        margin: 0px 0px 35px 0px;
    }

    .quiz > form > .eleven > main {
        width: 90%;
    }

    .quiz > form > .eleven > main > input {
        margin: 0px 0px 35px 0px;
    }

    .quiz > form > .eleven > main > label {
        font-size: 18px;
        letter-spacing: 1px;
    }

    .quiz > form > .eleven > main > p {
        font-size: 14px;
        letter-spacing: .8px;
    }

}

/* Popup Error */

.errorMessageBackground {
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
    transition: .5s all;
}

.errorMessageBackground.show {
    position: fixed;
    visibility: visible;
    pointer-events: all;
    opacity: 1;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.717);
    width: 100%;
    height: 100%;
}

.errorMessageContainer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
    transition: 1s all;
}

.errorMessageContainer.show {
    visibility: visible;
    pointer-events: all;
    opacity: 1;
    background-color: var(--white);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 40px;
}

.errorMessageContainer > p {
    color: red;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: .5px;
}