/* hero */

.home {
    max-width: 1900px;
    margin: 0px auto;
}

.home > .hero {
    background-image: url(../pictures/training-shadow.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 200px 0px;
}

.home > .hero > main {
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(-30px);
    opacity: 0;
    transition: 2s all;
}

.home > .hero > main.show {
    transform: translateY(0px);
    opacity: 1;
}

.home > .hero > main > h1 {
    inline-size: 75%;
    font-size: 105px;
    letter-spacing: 1px;
    font-family: var(--primary-font);
    color: var(--primary-color);
    text-align: center;
}

.home > .hero > main > h2 {
    font-weight: lighter;
    color: var(--primary-color);
    inline-size: 65%;
    text-align: center;
    font-size: 20px;
    letter-spacing: 1px;
}

.home > .hero > main > a {
    margin: 20px 0px;
    padding: 10px 130px;
    background-color: var(--company-color);
    font-family: var(--primary-font);
    text-decoration: none;
    color: var(--primary-color);
    font-size: 40px;
    border-radius: 5px;
    letter-spacing: 1.5px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    transition: .5s all;
}

.home > .hero > main > a:hover {
    background-color: #2da455;
}

@media screen and (max-width: 1320px) {

    .home > .hero {
        padding: 100px 0px;
    }

    .home > .hero > main > h1 {
        inline-size: 90%;
        font-size: 85px;
    }

    .home > .hero > main > h2 {
        inline-size: 90%;
        letter-spacing: 0;
    }

    .home > .hero > main > a {
        padding: 10px 100px;
        font-size: 30px;
        letter-spacing: 1px;
    }

}

@media screen and (max-width: 900px) {

    .home > .hero {
        padding: 75px 0px;
    }

    .home > .hero > main > h1 {
        inline-size: 95%;
        font-size: 65px;
    }

    .home > .hero > main > h2 {
        inline-size: 90%;
        letter-spacing: 0;
        font-size: 16px;
    }

    .home > .hero > main > a {
        padding: 10px 75px;
        font-size: 25px;
        letter-spacing: 1px;
    }

}

@media screen and (max-width: 660px) {

    .home > .hero {
        padding: 50px 0px;
    }

    .home > .hero > main > h1 {
        font-size: 45px;
        letter-spacing: 0;
    }

    .home > .hero > main > h2 {
        inline-size: 95%;
        font-size: 14px;
    }

    .home > .hero > main > a {
        padding: 10px 50px;
        font-size: 20px;
        letter-spacing: 0px;
    }

}

/* WHY US? */
.home > .why-us {
    padding: 50px 0px;
    width: 90%;
    margin: auto;
    border-bottom: #333 solid 1px;
}

.home > .why-us > h2 {
    text-align: center;
    font-size: 65px;
    font-family: var(--primary-font);
    margin: 0px 0px 50px 0px;
}

.home > .why-us > main {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    transform: translateY(-30px);
    opacity: 0;
    transition: 1s all;
}

.home > .why-us > main.show {
    transform: translateY(0px);
    opacity: 1;
}

.home > .why-us > main > article {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.home > .why-us > main > article > img {
    max-width: 85px;
}

.home > .why-us > main > article > h3 {
    font-family: var(--primary-font);
    font-size: 35px;
    letter-spacing: 1px;
    margin: 5px 0px 0px 0px;
}

.home > .why-us > main > article > p {
    font-size: 18px;
    letter-spacing: 1px;
    inline-size: 75%;
    font-weight: lighter;
    text-align: center;
}

@media screen and (max-width: 950px) {

    .home > .why-us {
        width: 95%;
    }

    .home > .why-us > h2 {
        font-size: 45px;
    }

    .home > .why-us > main {
        gap: 25px;
    }

    .home > .why-us > main > article > img {
        max-width: 65px;
    }

    .home > .why-us > main > article > h3 {
        font-size: 28px;
    }

    .home > .why-us > main > article > p {
        font-size: 16px;
    }

}

@media screen and (max-width: 650px) {

    .home > .why-us > main {
        flex-direction: column;
        gap: 60px;
    }

}


/* Inget Att Förklora Allt Att Vinna */
.home > .logic {
    padding: 50px 0px;
    width: 90%;
    margin: auto;
    border-bottom: #333 solid 1px;
}

.home > .logic > main {
    display: flex;
    align-items: center;
}

.home > .logic > main > aside {
    flex: 2;
    display: flex;
    justify-content: center;
}

.home > .logic > main > aside > img {
    max-width: 500px;
}

.home > .logic > main > article {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 3;
    opacity: 0;
    transform: translateY(-30px);
    transition: 1.5s all;
}

.home > .logic > main > article.show {
    flex: 3;
    opacity: 1;
    transform: translateY(0px);
}

.home > .logic > main > article > h2 {
    font-family: var(--primary-font);
    font-size: 55px;
    letter-spacing: 2px;
    margin: 0px 0px 20px 0px;
}

.home > .logic > main > article > main {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.home > .logic > main > article > main > div {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 20px 10px 10px 20px;
    border-radius: 5px;
    box-sizing: border-box;
    width: 350px;
    height: 200px;
    flex-grow: 1;
}

.home > .logic > main > article > main > div > img {
    max-width: 65px;
}

.home > .logic > main > article > main > div > h2 {
    font-family: var(--primary-font);
    font-size: 35px;
    letter-spacing: 2px;
    margin: 5px 0px;
}

.home > .logic > main > article > main > div > p {
    font-size: 20px;
    font-weight: lighter;
}

.home > .logic > main > article > a {
    text-align: center;
    margin: 20px 0px;
    padding: 10px 130px;
    background-color: var(--company-color);
    font-family: var(--primary-font);
    text-decoration: none;
    color: var(--primary-color);
    font-size: 25px;
    border-radius: 5px;
    letter-spacing: 1.5px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    transition: .5s all;
}

.home > .logic > main > article > a:hover {
    background-color: #2da455;
}

@media screen and (max-width: 1350px) {

    .home > .logic > main > aside > img {
        max-width: 95%;
    }

    .home > .logic > main > article > main > div {
        height: auto;
        padding: 20px;
    }

}

@media screen and (max-width: 1200px) {

    .home > .logic > main > aside > img {
        max-width: 400px;
    }

    .home > .logic > main {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .home > .logic > #main-copy {
        display: flex;
        flex-direction: column-reverse;
        gap: 20px;
    }

}

@media screen and (max-width: 420px) {

    .home > .logic > main > aside > img {
        max-width: 95%;
    }

    .home > .logic > main > article > h2 {
        font-size: 45px;
        letter-spacing: 0px;
    }

    .home > .logic > main > article > main > div > h2 {
        font-size: 28px;
        letter-spacing: 0px;
    }

    .home > .logic > main > article > main > div > p {
        font-size: 16px;
        letter-spacing: 0;
    }

    .home > .logic > main > article > main > div {
        width: 90%;
    }

}

/* Testemonials */
.home > .testimonials {
    background-color: var(--secondary-color);
    padding: 40px 0px;
    margin: 0px 0px 20px 0px;
}

.home > .testimonials > h2 {
    font-family: var(--primary-font);
    color: var(--primary-color);
    font-size: 60px;
    text-align: center;
}

.home > .testimonials > article {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 20px auto;
    gap: 20px;
    overflow: hidden;
}

.home > .testimonials > article > div {
    display: none;
}

.home > .testimonials > article > div.visa {
    display: block;
    background-color: var(--primary-color);
    width: 400px;
    padding: 10px 0px 20px 0px;
}

.home > .testimonials > article > div > aside {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    padding: 10px 5px;
    box-sizing: border-box;
    margin: auto;
    border-bottom: var(--secondary-color) solid 1px;
}

.home > .testimonials > article > div > aside > h4 {
    font-size: 20px;
}

.home > .testimonials > article > div > aside > div > img {
    max-width: 20px;
}

.home > .testimonials > article > div > p {
    font-family: 20px;
    font-weight: lighter;
    width: 88%;
    margin: 10px auto;
    letter-spacing: 1px;
}

.home > .testimonials > aside {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.home > .testimonials > aside > button {
    background-color: var(--primary-color);
    padding: 2.5px;
    border: 0;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.home > .testimonials > aside > button > img {
    max-width: 20px;
}

.home > .testimonials > aside > div {
    height: 30px;
    width: 75px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.home > .testimonials > aside > div > div {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: var(--secondary-color);
}

@media screen and (max-width: 1100px) {

    .home > .testimonials > h2 {
        font-size: 45px;
    }

    .home > .testimonials > article {
        width: 95%;
        gap: 10px;
    }

}

@media screen and (max-width: 1000px) {

    .home > .testimonials > h2 {
        font-size: 45px;
    }

    .home > .testimonials > article {
        width: 95%;
        gap: 10px;
    }

    .home > .testimonials > article {
        flex-direction: column;
        width: 100%;
    }

}

@media screen and (max-width: 430px) {

    .home > .testimonials > article {
        width: 95%;
    }

    .home > .testimonials > article > div.visa {
        width: 95%;
        box-sizing: border-box;
    }

}

/* om oss */
.home > .om-oss {
    display: flex;
    align-items: center;
    padding: 20px 0px;
    width: 90%;
    margin: 0px auto;
    border-bottom: 1px solid var(--secondary-color);
}

.home > .om-oss > main > article {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 50px;
    box-sizing: border-box;
    width: 90%;
    height: 100%;
    margin: 0px auto;
    border-radius: 5px;
    transform: translateY(-30px);
    opacity: 0;
    transition: 1s all;
}

.home > .om-oss > main > article.show {
    transform: translateY(0px);
    opacity: 1;
}

.home > .om-oss > main > article > h3 {
    text-align: center;
    font-family: var(--primary-font);
    letter-spacing: 2px;
    font-size: 30px;
}

.home > .om-oss > main > article > h2 {
    text-align: center;
    font-family: var(--primary-font);
    letter-spacing: 3px;
    font-size: 65px;
    margin: 5px 0px 20px 0px;
}

.home > .om-oss > main > article > p {
    text-align: center;
    margin: 0px 0px 20px 0px;
    font-size: 23px;
    font-weight: lighter;
    letter-spacing: 1px;
}

/* kontakta oss */
.home > .kontakta-oss {
    padding: 175px 0px;
    margin: 25px 0px 75px 0px;
}

.home > .kontakta-oss > main {
    position: relative;
    margin: 0px auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: var(--secondary-color);
    padding: 35px;
    box-sizing: border-box;
    width: 500px;
    z-index: 0;
}

.home > .kontakta-oss > main > h2 {
    color: var(--primary-color);
    font-family: var(--primary-font);
    font-size: 45px;
    letter-spacing: 2px;
}

.home > .kontakta-oss > main > form {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.home > .kontakta-oss > main > form > label {
    color: var(--primary-color);
    letter-spacing: 1px;
    font-size: 18px;
    margin: 20px 0px 10px 0px;
}

.home > .kontakta-oss > main > form > input {
    outline: 0;
    background-color: var(--secondary-color);
    border: 0;
    border-bottom: 5px solid var(--company-color);
    margin: 0px 0px 20px 0px;
    color: var(--primary-color);
    padding: 10px;
    font-size: 18px;
}

.home > .kontakta-oss > main > form > textarea {
    outline: 0;
    background-color: var(--secondary-color);
    border: .5px solid var(--company-color);
    border-bottom: 5px solid var(--company-color);
    margin: 0px 0px 20px 0px;
    color: var(--primary-color);
    padding: 10px;
    font-size: 18px;
}

.home > .kontakta-oss > main > form > button {
    background-color: var(--company-color);
    color: var(--secondary-color);
    text-decoration: none;
    font-size: 22px;
    letter-spacing: 1px;
    padding: 10px;
    border: 0;
    font-family: var(--primary-font);
    color: var(--primary-color);
    border-radius: 5px;
    transition: .5s all;
}

.home > .kontakta-oss > main > form > button:hover {
    background-color: #2da455;
}

.home > .kontakta-oss > main > article {
    background-color: var(--primary-color);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 10px 0px 30px 20px;
    box-sizing: border-box;
    width: 250px;
    position: absolute;
    top: 625px;
    left: 585px;
    transform: translate(-50%, -50%);
}

.home > .kontakta-oss > main > article > h4 {
    font-family: var(--primary-font);
    font-size: 25px;
    letter-spacing: 1px;
    margin: 20px 0px 5px 0px;
}

.home > .kontakta-oss > main > article > p {
    font-size: 18px;
    margin: 5px 0px 0px 0px;
}

@media screen and (max-width: 950px) {

    .home > .kontakta-oss > main > form {
        width: auto;
    }

    .home > .kontakta-oss > main {
        position: static;
        display: flex;
        flex-direction: column;
        gap: 25px;
    }

    .home > .kontakta-oss > main > article {
        position: static;
        width: 100%;
        top: 0px;
        left: 0px;
        padding: 5px 20px 20px 20px;
        transform: none;
        box-shadow: rgba(238, 238, 238, 0.35) 0px 5px 15px;
    }

}

@media screen and (max-width: 540px) {

    .home > .kontakta-oss > main {
        width: 95%;
        padding: 30px;
    }

    .home > .kontakta-oss {
        padding: 25px 0px;
        margin: 35px 0px;
    }

    .home > .kontakta-oss > main > article > h4 {
        font-size: 20px;
        letter-spacing: .5px;
    }
    
    .home > .kontakta-oss > main > article > p {
        font-size: 14px;
    }

    .home > .kontakta-oss > main > h2 {
        font-size: 35px;
        letter-spacing: 1px;
    }

    .home > .kontakta-oss > main > form > label {
        letter-spacing: .5px;
        font-size: 14px;
        margin: 0px 0px 10px 0px;
        font-size: 16px;
    }
    
    .home > .kontakta-oss > main > form > input {
        font-size: 14px;
    }
    
    .home > .kontakta-oss > main > form > textarea {
        font-size: 14px;
    }
    
    .home > .kontakta-oss > main > form > button {
        font-size: 18px;
    }
}