.order-complete {
    margin: 200px auto 200px auto;
    max-width: 1000px;
    width: 75%;
}

.order-complete > h1 {
    font-family: var(--primary-font);
    font-size: 65px;
    margin: 0px 0px 20px 0px;
}

.order-complete > main {
    display: flex;
    gap: 50px;
}

.order-complete > main > aside {
    flex: 3;
    border: .5px solid var(--secondary-color);
    padding: 25px;
    box-sizing: border-box;
    border-radius: 5px;
}

.order-complete > main > aside > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 0px 15px 0px;
}

.order-complete > main > aside > div > h6 {
    font-weight: lighter;
}

.order-complete > main > aside > div > p {
    font-weight: bold;
}

.order-complete > main > aside > h2 {
    margin: 50px 0px 0px 0px;
    font-family: var(--primary-font);
    letter-spacing: 1px;
    font-size: 35px;
}

.order-complete > main > aside > p {
    margin: 20px 0px;
}

.order-complete > main > aside > h6 {
    font-weight: bold;
    margin: 10px 0px;
}

.order-complete > main > aside > h6 > span{
    font-weight: lighter;
}

.order-complete > main > aside > h6 > img{
    max-width: 75px;
}

.order-complete > main > div {
    flex: 2;
    border: .5px solid var(--secondary-color);
    border-radius: 5px;
    padding: 25px;
    box-sizing: border-box;
    height: 400px;
}

.order-complete > main > div > h2 {
    font-family: var(--primary-font);
    letter-spacing: 1px;
    font-size: 35px;
}

.order-complete > main > div > aside {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px 10px 0px;
    border-bottom: 1px solid var(--secondary-color);
}

.order-complete > main > div > aside > h6 {
    font-weight: bold;
}

.order-complete > main > div > aside > p {
    font-weight: lighter;
}

.order-complete > main > div > p {
    font-weight: lighter;
    margin: 20px 0px;
}

.order-complete > main > div > main {
    display: flex;
    align-items: center;
    gap: 20px;
}

.order-complete > main > div > main > img {
    max-width: 125px;
}

.order-complete > main > div > main > aside {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.order-complete > main > div > main > aside > h6 {
    font-weight: bold;
    font-size: 14px;
}

.order-complete > main > div > main > aside > h6 > span {
    font-weight: lighter;
}

@media screen and (max-width: 1150px) {

    .order-complete {
        margin: 100px auto 100px auto;
        width: 95%;
    }

    .order-complete > main {
        gap: 15px;
    }

}

@media screen and (max-width: 800px) {

    .order-complete > h1 {
        font-size: 45px;
    }

    .order-complete {
        width: 75%;
    }

    .order-complete > main {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

}

@media screen and (max-width: 500px) {

    .order-complete > h1 {
        text-align: center;
    }

    .order-complete {
        width: 95%;
    }

    .order-complete > main > aside > h2 {
        letter-spacing: .5px;
        font-size: 25px;
    }

    .order-complete > main > div > h2 {
        letter-spacing: .5px;
        font-size: 25px;
    }

    .order-complete > main > aside > div > h6 {
        font-size: 14px;
    }

    .order-complete > main > div > aside > h6 {
        font-size: 14px;
    }

    .order-complete > main > div > main > aside > h6 {
        font-size: 14px;
    }

    .order-complete > main > aside > div > p {
        font-size: 14px;
    }

    .order-complete > main > aside > p {
        font-size: 14px;
    }

    .order-complete > main > div > aside > p {
        font-size: 14px;
    }
    
    .order-complete > main > div > p {
        font-size: 14px;
    }

}