.product {
    max-width: 1600px;
    width: 90%;
    margin: 100px auto;
    display: flex;
    align-items: center;
}

.product > aside {
    flex: 4;
    display: grid;
    place-content: center;
    place-items: center;
}

.product > aside > img {
    max-width: 675px;
}

.product > div {
    flex: 3;
}

.product > div > article {
    box-shadow: rgba(51, 51, 51, 0.35) 0px 5px 15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border-radius: 5px;
    width: 500px;
}

.product > div > article > h1 {
    font-size: 55px;
    font-family: var(--primary-font);
    letter-spacing: 3px;
}

.product > div > article > aside {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0px 0px 30px 0px;
}

.product > div > article > aside > img {
    max-width: 25px;
}

.product > div > article > aside > h4 {
    letter-spacing: 1.5px;
    font-size: 18px;
}

.product > div > article > p {
    font-family: var(--secondary-font);
    font-size: 16px;
    letter-spacing: 3px;
    font-weight: lighter;
    line-height: 23px;
}

.product > div > article > form > input {
    display: none;
}

.product > div > article > form > label {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    margin: 10px 0px 0px 0px;
    border-radius: 5px;
    cursor: pointer;
    border: .1px dotted #333;
}

.product > div > article > form > input:checked + label {
    border: 1.5px solid #333;
}

.product > div > article > form > label > h3 {
    font-size: 20px;
}

.product > div > article > form > label > aside > h3 {
    font-size: 20px;
}

.product > div > article > form > label > aside > p {
    font-size: 12px;
    font-weight: lighter;
    margin: 0px 0px 0px 2px;
}

.product > div > article > form > label > h4 {
    font-size: 18px;
}

.product > div > article > form > button {
    padding: 10px 0px;
    margin: 30px 0px 0px 0px;
    background-color: var(--company-color);
    font-family: var(--primary-font);
    text-decoration: none;
    color: var(--primary-color);
    font-size: 20px;
    border-radius: 5px;
    border: 0;
    width: 100%;
    letter-spacing: 1.2px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    transition: .5s all;
}

.product > div > article > form > button:hover {
    background-color: #2da455;
}

.product > div > article > div {
    margin: 25px 0px 0px 0px;
    border-radius: 5px;
    border: .5px dotted var(--secondary-color);
    overflow: hidden;
}

.product > div > article > div > article {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: .5px dotted var(--secondary-color);
    padding: 15px 20px;
    box-sizing: border-box;
}

.product > div > article > div > article > aside > img {
    max-width: 75px;
    max-height: 30px;
}

.product > div > article > div > article > aside > h4 {
    font-size: 18px;
    letter-spacing: 1.5px;
}

.product > div > article > div > article > aside > p {
    font-weight: lighter;
    margin: 2px 0px;
}

.product > div > article > div > article > h4 {
    font-family: var(--primary-font);
    font-size: 20px;
    letter-spacing: 1px;
}

.product > div > article > div > article > div {
    display: flex;
    align-items: center;
    gap: 12px;
}

.product > div > article > div > article > div > img {
    max-width: 25px;
    max-height: 25px;
}

.product > div > article > div > article > div > h4 {
    font-size: 18px;
    letter-spacing: 1.5px;
}

.product > div > article > div > article > aside > div {
    display: flex;
    align-items: center;
    gap: 7.5px;
    margin: 5px 0px 0px 2.5px;
}

.product > div > article > div > article > aside > div > img {
    max-width: 32.5px;
}

@media screen and (max-width: 1300px) {

    .product > aside > img {
        width: 90%;
    }

}

@media screen and (max-width: 1150px) {

    .product {
        flex-direction: column;
        gap: 50px;
    }

}

@media screen and (max-width: 575px) {

    .product > div > article {
        width: 100%;
        margin: 0px auto;
    }

}

@media screen and (max-width: 450px) {

    .product > div > article {
        padding: 20px 10px;
    }

    .product > div > article > h1 {
        font-size: 45px;
        letter-spacing: 1.5px;
    }

    .product > div > article > aside {
        gap: 5px;
        margin: 0px 0px 15px 0px;
    }

    .product > div > article > aside > img {
        width: 20px;
        height: 20px;
    }

    .product > div > article > aside > h4 {
        margin: 0px 0px 0px 10px;
        font-size: 16px;
    }

    .product > div > article > form > label {
        margin: 15px 0px 0px 0px;
    }

    .product > div > article > form > label > aside > h3 {
        font-size: 16px;
    }

    .product > div > article > form > label > aside > p {
        font-size: 10px;
        letter-spacing: 0px;
    }

    .product > div > article > form > label > h4 {
        font-size: 16px;
    }

    .product > div > article > form > label > h3 {
        font-size: 16px;
    }

    .product > div > article > form > button {
        margin: 20px 0px 0px 0px;
    }

    .product > div > article > div > article {
        gap: 20px;
        padding: 10px 15px;
    }

    .product > div > article > div > article > h4 {
        font-size: 16px;
        letter-spacing: .5px;
    }

    .product > div > article > div > article > aside > h4 {
        font-size: 14px;
    }

    .product > div > article > div > article > aside > p {
        font-size: 12px;
    }

    .product > div > article > div > article > aside > img {
        max-width: 65px;
    }

    .product > div > article > div > article > div > img {
        max-width: 20px
    }

    .product > div > article > div > article > div > h4 {
        font-size: 14px;
    }

    .product > div > article > div > article > aside > div > img {
        max-width: 25px;
    }

}

/* Why Subscribe */

.why-subscribe {
    width: 90%;
    margin: 200px auto 50px auto;
    max-width: 1600px;
}

.why-subscribe > h2 {
    text-align: center;
    font-family: var(--primary-font);
    font-size: 65px;
    letter-spacing: 2px;
    margin: 0px 0px 40px 0px;
}

.why-subscribe > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
}

.why-subscribe > div > article {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    gap: 10px;
}

.why-subscribe > div > article > img {
    max-width: 65px;
    margin: 0px 0px 10px 0px;
}

.why-subscribe > div > article > h3 {
    font-family: var(--primary-font);
    letter-spacing: 1.5px;
    font-size: 30px;
}

.why-subscribe > div > article > p {
    text-align: center;
    font-weight: lighter;
    font-size: 20px;
}

@media screen and (max-width: 900px) {

    .why-subscribe > div {
        display: flex;
        justify-content: baseline;
        align-items: center;
        flex-direction: column;
        gap: 55px;
    }

    .why-subscribe > div > article {
        width: 90%;
    }

}

@media screen and (max-width: 450px) {

    .why-subscribe {
        margin: 125px auto 50px auto;
    }

    .why-subscribe > h2 {
        font-size: 45px;
        letter-spacing: 1px;
    }

    .why-subscribe > div > article > img {
        max-width: 55px;
    }

    .why-subscribe > div > article > h3 {
        letter-spacing: .5px;
        font-size: 26px;
    }

    .why-subscribe > div > article > p {
        font-size: 16px;
    }
}

/* line */

.line {
    width: 95%;
    margin: 50px auto;
    height: 5px;
    background-color: #E2E2E2;
}

/* Benifits */

.benifits {
    width: 90%;
    max-width: 1600px;
    margin: 0px auto 50px auto;
    display: flex;
    align-items: center;
    gap: 20px;
}

.benifits > article {
    flex: 5;
}

.benifits > article > h2 {
    font-size: 55px;
    font-family: var(--primary-font);
    letter-spacing: 1.5px;
}

.benifits > article > div {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    row-gap: 60px;
    margin: 60px 0px 0px 0px;
}

.benifits > article > div > article {
    width: 45%;
}

.benifits > article > div > article > img {
    max-height: 55px;
}

.benifits > article > div > article > h3 {
    font-family: var(--primary-font);
    font-size: 27px;
    letter-spacing: 1.25px;
    margin: 15px 0px 3px 0px;
}

.benifits > article > div > article > p {
    font-weight: lighter;
    letter-spacing: .5px;
    font-size: 18px;
}

.benifits > aside {
    flex: 3;
    background-image: url(/static/pictures/product-picture/multivitamin-picture.webp);
    height: 700px;
    background-position: center;
    background-size: cover;
    border-radius: 5px;
}

@media screen and (max-width: 900px) {

    .benifits {
        flex-direction: column-reverse;
        justify-content: baseline;
        align-items: baseline;
        gap: 50px;
    }

    .benifits > aside {
        flex: none;
        background-position: bottom;
        width: 100%;
        height: 450px;
    }

}

@media screen and (max-width: 450px) {

    .benifits {
        gap: 35px;
    }

    .benifits > aside {
        height: 300px;
    }

    .benifits > article > h2 {
        font-size: 45px;
        letter-spacing: .5px;
    }

    .benifits > article > div {
        margin: 40px 0px 0px 0px;
        gap: 20px;
        column-gap: 30px;
        justify-content: center;
    }

    .benifits > article > div > article {
        width: auto;
    }

    .benifits > article > div > article > img {
        width: 45px;
        height: 45px;
    }

    .benifits > article > div > article > h3 {
        font-size: 23px;
        letter-spacing: .5px;
    }

    .benifits > article > div > article > p {
        font-size: 14px;
        letter-spacing: .5px;
    }

}

/* Ingredients */

.ingredients {
    width: 90%;
    margin: 0px auto;
}

.ingredients > h2 {
    font-family: var(--primary-font);
    font-size: 55px;
    letter-spacing: 3px;
}

.ingredients > div {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    row-gap: 30px;
    margin: 50px 0px;
}

.ingredients > div > article {
    width: 49%;
    padding: 5px 10px;
    max-height: 40px;
    box-sizing: border-box;
    border-bottom: 1px solid var(--secondary-color);
    overflow: hidden;
    transition: .25s all;
}

.ingredients > div > article.show {
    max-height: 400px;
}

.ingredients > div > article > p {
    visibility: hidden;
    pointer-events: none;
    padding: 0;
    opacity: 0;
    transition: .25s all;
}

.ingredients > div > article > p.show {
    visibility: visible;
    pointer-events: all;
    padding: 20px 0px 10px 0px;
    opacity: 1;
}

.ingredients > div > article > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.ingredients > div > article > div > h3 {
    font-size: 18px;
    letter-spacing: 1.5px;
}

.ingredients > div > article > div > button {
    background-color: var(--secondary-color);
    border: 0;
    border-radius: 25px;
    height: 25px;
    width: 25px;
    color: var(--primary-color);
    cursor: pointer;
}

@media screen and (max-width: 1110px) {

    .ingredients > div > article {
        width: 90%;
        margin: 0px auto;
    }

}

@media screen and (max-width: 450px) {

    .ingredients > h2 {
        font-size: 45px;
        letter-spacing: .5px;
    }

    .ingredients > div > article {
        width: 100%;
        margin: 0px auto;
    }

}

/* Faq */

.faq {
    width: 90%;
    margin: 0px auto;
    display: flex;
}

.faq > aside {
    flex: 1;
}

.faq > aside > h2 {
    font-size: 55px;
    letter-spacing: 1.5px;
    font-family: var(--primary-font);
}

.faq > article {
    flex: 2;
    display: flex;
    flex-direction: column;
}

.faq > article > div {
    width: 99%;
    padding: 5px 10px;
    margin: 20px 0px;
    max-height: 50px;
    box-sizing: border-box;
    border-bottom: 1px solid var(--secondary-color);
    overflow: hidden;
    transition: .25s all;
}

.faq > article > div.show {
    max-height: 400px;
}

.faq > article > div > p {
    visibility: hidden;
    pointer-events: none;
    font-size: 18px;
    line-height: 25px;
    padding: 0;
    opacity: 0;
    transition: .25s all;
}

.faq > article > div > p.show {
    visibility: visible;
    pointer-events: all;
    padding: 20px 0px 10px 0px;
    opacity: 1;
}

.faq > article > div > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.faq > article > div > div > h3 {
    font-size: 22px;
    letter-spacing: 2px;
}

.faq > article > div > div > button {
    background-color: var(--company-color);
    border: 0;
    border-radius: 25px;
    height: 30px;
    width: 30px;
    font-size: 21px;
    color: var(--primary-color);
    cursor: pointer;
}

@media screen and (max-width: 1110px) {

    .faq {
        flex-direction: column;
        gap: 30px;
    }

}

@media screen and (max-width: 750px) {

    .faq > article > div > div > h3 {
        font-size: 18px;
        letter-spacing: .5px;
    }

    .faq > article > div > div > button {
        height: 25px;
        width: 25px;
        font-size: 18px;
    }

    .faq > article > div > p {
        font-size: 16px;
    }

    .faq > article > div {
        max-height: 45px;
        width: 100%;
    }

    .faq > article > div > div {
        gap: 20px;
    }

}