#din-sömnplan {
    padding: 2px 0px;
    border-bottom: 1.5px solid var(--company-color);
}

/* Css Kod För Om De Inte Är Exklusiva Användare */
.sleepplan {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
}

.sleepplan > main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.sleepplan > main > h1 {
    font-size: 75px;
    text-align: center;
    inline-size: 80%;
    font-family: var(--primary-font);
}

.sleepplan > main > a {
    padding: 15px 25px;
    background-color: var(--company-color);
    font-family: var(--primary-font);
    border-radius: 5px;
    text-decoration: none;
    color: var(--primary-color);
    font-size: 25px;
    letter-spacing: 1.5px;
    transition: .5s all;
}

.sleepplan > main > a:hover {
    background-color: #2da455;
}

/* Css Kod Om De Är Exklusiva Användare */

.sleeplan_section {
    padding: 50px 0px 25px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 75px;
}

.sleeplan_section > article {
    padding: 30px 50px;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 #333;
    max-width: 1000px;
    min-width: 500px;
}

.sleeplan_section > article > aside {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
}

.sleeplan_section > article > aside > .line {
    height: 300px;
    width: 1px;
    background-color: var(--secondary-color);
}

.sleeplan_section > article > aside > aside {
    display: block;
}

.sleeplan_section > article > aside > aside > h2 {
    font-family: var(--primary-font);
    font-size: 65px;
    text-align: center;
}

.sleeplan_section > article > aside > aside > p {
    font-size: 25px;
    font-weight: lighter;
    text-align: center;
}

.sleeplan_section > article > aside > div > aside {
    display: flex;
    align-items: center;
    gap: 35px;
    padding: 0px 25px;
}

.sleeplan_section > article > aside > div > aside > div > h3 {
    font-family: var(--primary-font);
    font-size: 45px;
    text-align: center;
}

.sleeplan_section > article > aside > div > aside > div > p {
    text-align: center;
    font-weight: lighter;
    font-size: 20px;
}

.sleeplan_section > article > aside > div {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.sleeplan_section > article > aside > div > .line {
    height: 1px;
    width: 100%;
    background-color: var(--secondary-color);
}

.sleeplan_section > article > aside > div > aside > img {
    width: 90px;
    height: 90px;
}

/* Alternativ Line */

.sleeplan_section > aside {
    width: 98%;
    max-width: 1600px;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.sleeplan_section > aside > div {
    width: 100%;
    height: 1px;
    background-color: var(--secondary-color);
}

.sleeplan_section > aside > h4 {
    font-weight: lighter;
    letter-spacing: 1px;
    font-size: 20px;
}

/* caffein limitation */

.sleeplan_section > article > p {
    font-size: 20px;
    font-weight: lighter;
    letter-spacing: 3px;
    text-align: center;
    margin: 0px 0px 10px 0px;
}

.sleeplan_section > article > h2 {
    font-family: var(--primary-font);
    text-align: center;
    font-size: 50px;
    letter-spacing: 3px;
}

.sleeplan_section > article > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    width: 300px;
    margin: 25px auto 25px auto;
}

.sleeplan_section > article > div > .line {
    width: 100%;
    height: 1px;
    background-color: var(--secondary-color);
}

.sleeplan_section > article > div > aside {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.sleeplan_section > article > div > aside > img {
    max-height: 50px;
    max-width: 50px;
}

.sleeplan_section > article > div > h3 {
    text-align: center;
    font-size: 30px;
    letter-spacing: 1.5px;
}

.sleeplan_section > article > h3 {
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    letter-spacing: 2px;
}

.sleeplan_section > article > a {
    font-family: var(--primary-font);
    color: var(--primary-color);
    background-color: var(--company-color);
    text-decoration: none;
    font-size: 20px;
    letter-spacing: 2px;
    padding: 10px 40px;
    border-radius: 5px;
    margin: 30px auto 0px auto;
    display: block;
    width: 200px;
    text-align: center;
    box-shadow: 0px 0px 2px #333;
    cursor: pointer;
    transition: .5s all;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.sleeplan_section > article > a:hover {
    background-color: #2da455;
}

/* Phone in Night Mode Before Sleep */

.sleeplan_section > article > img {
    margin: 40px auto;
    display: block;
    width: 200px;
    height: 175px;
}

/* Fördelar Och Nackdelar */

.sleeplan_section > article > article {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.sleeplan_section > article > article > .line {
    height: 300px;
    width: 1px;
    background-color: var(--secondary-color);
}

.sleeplan_section > article > article > aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.sleeplan_section > article > article > aside > h2 {
    font-family: var(--primary-font);
    font-size: 25px;
    text-align: center;
    letter-spacing: 1.5px;
}

.sleeplan_section > article > article > aside > a {
    font-family: var(--primary-font);
    color: var(--primary-color);
    background-color: var(--company-color);
    text-decoration: none;
    font-size: 18px;
    letter-spacing: 2px;
    padding: 8px 20px;
    border-radius: 5px;
    width: 200px;
    text-align: center;
    box-shadow: 0px 0px 2px #333;
    cursor: pointer;
    transition: .5s all;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.sleeplan_section > article > article > aside > a:hover {
    background-color: #2da455;
}

.sleeplan_section > article > article > aside > img {
    width: 75px;
    height: 75px;
}

/* link to user info */

.sleeplan_section > a {
    margin: auto;
    color: var(--company-color);
    text-decoration: underline;
    text-underline-offset: 3px;
    font-size: 18px;
    letter-spacing: 1.2px;
    cursor: pointer;
}

@media only screen and (max-width: 800px) {

    .sleeplan_section > article {
        padding: 40px 25px;
        min-width: 200px;
    }

}

@media only screen and (max-width: 700px) {

    .sleeplan_section > article {
        padding: 25px;
    }

    .sleeplan_section > article > aside {
        gap: 15px;
    }

    .sleeplan_section > article > aside > .line {
        height: 200px;
    }

    .sleeplan_section > article > aside > aside > h2 {
        font-size: 32px;
        letter-spacing: .5px;
    }

    .sleeplan_section > article > aside > aside > p {
        font-size: 16px;
    }

    .sleeplan_section > article > aside > div > aside > div > h3 {
        font-size: 32px;
        letter-spacing: .5px;
    }

    .sleeplan_section > article > aside > div > aside > div > p {
        font-size: 16px;
    }
    
    .sleeplan_section > article > aside > div > aside {
        display: flex;
        align-items: center;
        gap: 15px;
        padding: 0px 15px;
    }

    .sleeplan_section > article > aside > div {
        gap: 15px;
    }

    .sleeplan_section > article > aside > div > aside > img {
        width: 45px;
        height: 45px;
    }

    .sleeplan_section > aside > h4 {
        letter-spacing: .5px;
        font-size: 14px;
    }

    .sleeplan_section > article > p {
        font-size: 16px;
        letter-spacing: .5px;
        text-align: center;
        margin: 0px 0px 10px 0px;
    }
    
    .sleeplan_section > article > h2 {
        font-size: 32px;
        letter-spacing: .5px;
    }

    .sleeplan_section > article > div {
        gap: 2.5px;
        width: 150px;
        margin: 15px auto 15px auto;
    }

    .sleeplan_section > article > div > aside {
        gap: 10px;
    }

    .sleeplan_section > article > div > aside > img {
        max-height: 35px;
        max-width: 35px;
    }

    .sleeplan_section > article > div > h3 {
        text-align: center;
        font-size: 16px;
        letter-spacing: .5px;
    }

    .sleeplan_section > article > h3 {
        font-size: 22px;
        letter-spacing: .5px;
    }

    .sleeplan_section > article > a {
        font-size: 16px;
        letter-spacing: .5px;
        padding: 5px 20px;
    }

    .sleeplan_section > article > img {
        margin: 20px auto;
        width: 100px;
        height: 90px;
    }

    .sleeplan_section > article > article {
        display: flex;
        flex-direction: column;
        gap: 25px;
    }

    .sleeplan_section > article > article > .line {
        height: 1px;
        width: 300px;
    }

    .sleeplan_section > article > article > aside {
        gap: 10px;
    }

    .sleeplan_section > article > article > aside > h2 {
        font-size: 22px;
        letter-spacing: .5px;
    }

    .sleeplan_section > article > article > aside > a {
        font-size: 16px;
        letter-spacing: .5px;
        padding: 5px 20px;
    }

    .sleeplan_section > article > article > aside > img {
        width: 60px;
        height: 60px;
    }

    .sleeplan_section > a {
        letter-spacing: 0px;
        font-size: 14px;
    }

}

@media only screen and (max-width: 410px) {

    .sleeplan_section {
        padding: 25px 0px;
        row-gap: 50px;
    }

    .sleeplan_section > article {
        padding: 20px 10px;
        box-sizing: border-box;
        width: 95%;
    }

    .sleeplan_section > article > aside {
        gap: 7.5px;
    }

    .sleeplan_section > article > aside > .line {
        height: 175px;
    }

    .sleeplan_section > article > aside > div {
        gap: 10px;
    }

}
/* popup message */

/* Att Tänka På */

.sleeplan_section_popup_message {
    visibility: hidden;
    pointer-events: none;
}

.sleeplan_section_popup_message.show {
    z-index: 1;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #333333b4;
    visibility: visible;
    pointer-events: all;
}

.sleeplan_section_popup_message > #show_to_think_about {
    visibility: hidden;
    pointer-events: none;
    padding: 0;
    opacity: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .5s all;
    background-color: var(--primary-color);
    border-radius: 5px;
    box-shadow: 0 0 20px 0 #f5f5f5;
}

.sleeplan_section_popup_message > #show_to_think_about.show {
    padding: 40px;
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}

.sleeplan_section_popup_message > #why_questionmark {
    visibility: hidden;
    pointer-events: none;
    padding: 0;
    opacity: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .5s all;
    background-color: var(--primary-color);
    border-radius: 5px;
    box-shadow: 0 0 20px 0 #f5f5f5;
}

.sleeplan_section_popup_message > #why_questionmark.show {
    padding: 40px;
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}

.sleeplan_section_popup_message > #benifits_of_sleep {
    visibility: hidden;
    pointer-events: none;
    padding: 0;
    opacity: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .5s all;
    background-color: var(--primary-color);
    border-radius: 5px;
    box-shadow: 0 0 20px 0 #f5f5f5;
}

.sleeplan_section_popup_message > #benifits_of_sleep.show {
    padding: 40px;
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}

.sleeplan_section_popup_message > #disadvantages_of_bad_sleep {
    visibility: hidden;
    pointer-events: none;
    padding: 0;
    opacity: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .5s all;
    background-color: var(--primary-color);
    border-radius: 5px;
    box-shadow: 0 0 20px 0 #f5f5f5;
}

.sleeplan_section_popup_message > #disadvantages_of_bad_sleep.show {
    padding: 40px;
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}

.sleeplan_section_popup_message > article > h2 {
    text-align: center;
    font-family: var(--primary-font);
    font-size: 50px;
    letter-spacing: 3px;
    margin: 0px 0px 20px 0px;
}

.sleeplan_section_popup_message > article > ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sleeplan_section_popup_message > article > ul > li {
    font-size: 20px;
    text-align: center;
    font-weight: lighter;
}

.sleeplan_section_popup_message > article > ul > li > span {
    font-weight: bold;
    text-decoration: underline;
}

@media only screen and (max-width: 1000px) {

    .sleeplan_section_popup_message > #show_to_think_about.show, .sleeplan_section_popup_message > #why_questionmark.show, .sleeplan_section_popup_message > #benifits_of_sleep.show, .sleeplan_section_popup_message > #disadvantages_of_bad_sleep.show {
        width: 95%;
        box-sizing: border-box;
        padding: 40px 20px;
    }
        
}

@media only screen and (max-width: 700px) {

    .sleeplan_section_popup_message > #show_to_think_about.show, .sleeplan_section_popup_message > #why_questionmark.show, .sleeplan_section_popup_message > #benifits_of_sleep.show, .sleeplan_section_popup_message > #disadvantages_of_bad_sleep.show {
        padding: 30px 10px;
    }

    .sleeplan_section_popup_message > article > h2 {
        font-size: 32px;
        letter-spacing: .5px;
        margin: 0px 0px 10px 0px;
    }

    .sleeplan_section_popup_message > article > ul > li {
        font-size: 16px;
    }
        
}

/* View Information */

.sleeplan_section_popup_message > #view_information {
    visibility: hidden;
    pointer-events: none;
    padding: 0;
    opacity: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .5s all;
    background-color: var(--primary-color);
    border-radius: 5px;
    box-shadow: 0 0 20px 0 #f5f5f5;
}

.sleeplan_section_popup_message > #view_information.show {
    padding: 40px;
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    height: 75%;
    overflow: scroll;
    scrollbar-color: var(--secondary-color) transparent;
}

.sleeplan_section_popup_message > #view_information > p {
    text-align: center;
    letter-spacing: 1px;
}

.sleeplan_section_popup_message > #view_information > p > span {
    color: var(--company-color);
}

.sleeplan_section_popup_message > #view_information > form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    width: 500px;
}

.sleeplan_section_popup_message > #view_information > form > label {
    font-size: 20px;
    letter-spacing: 1px;
    margin: 20px 0px 0px 0px;
}

.sleeplan_section_popup_message > #view_information > form > label > span {
    font-size: 11px;

}

.sleeplan_section_popup_message > #view_information > form > input {
    border: 0;
    background-color: var(--primary-color);
    border-bottom: var(--company-color) 3px solid;
    padding: 10px 10px 5px 10px;
    font-size: 18px;
    font-family: var(--secondary-font);
    letter-spacing: 1px;
    outline: 0;
}

.sleeplan_section_popup_message > #view_information > form > button {
    padding: 10px 25px;
    border: 0;
    box-sizing: border-box;
    background-color: var(--company-color);
    font-family: var(--primary-font);
    border-radius: 5px;
    text-decoration: none;
    color: var(--primary-color);
    font-size: 20px;
    width: 300px;
    letter-spacing: 1.5px;
    transition: .5s all;
    margin: 30px 0px 10px 0px;
}

.sleeplan_section_popup_message > #view_information > form > button:hover {
    background-color: #2da455;
}

@media only screen and (max-width: 700px) {

    .sleeplan_section_popup_message > #view_information.show {
        height: 75%;
        width: 95%;
        box-sizing: border-box;
    }

    .sleeplan_section_popup_message > #view_information > h2{
        font-size: 32px;
        letter-spacing: .5px;
        margin: 0px 0px 0px 0px;
    }

    .sleeplan_section_popup_message > #view_information > p {
        letter-spacing: .5px;
        font-size: 14px;
    }
    
    .sleeplan_section_popup_message > #view_information > form {
        gap: 5px;
        width: 100%;
    }

    .sleeplan_section_popup_message > #view_information > form > label {
        font-size: 14px;
        letter-spacing: .5px;
    }
    
    .sleeplan_section_popup_message > #view_information > form > label > span {
        font-size: 9px;
    }

    .sleeplan_section_popup_message > #view_information > form > input {
        border-bottom: var(--company-color) 1.5px solid;
        font-size: 14px;
        letter-spacing: .5px;
    }

    .sleeplan_section_popup_message > #view_information > form > button {
        padding: 7.5px 17.5px;
        font-size: 16px;
        width: 225px;
        letter-spacing: .5px;
    }

}

@media only screen and (max-width: 425px) {

    .sleeplan_section_popup_message > #view_information.show {
        padding: 20px 10px;
    }

}
