#all-exercises {
    padding: 2px 0px;
    border-bottom: 1.5px solid var(--company-color);
}

.workouts > article {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 100px 0px 50px 0px;
}

.workouts > article > h1 {
    max-width: 1400px;
    inline-size: 75%;
    font-family: var(--primary-font);
    font-size: 65px;
    letter-spacing: 2px;
}

.workouts > article > form > select {
    letter-spacing: .5px;
    padding: 5px 10px;
    border-radius: 5px;
    outline: 0;
    background-color: var(--primary-color);
    border: .5px solid var(--secondary-color);
    margin: 0px;
}

.workouts > article > form > select:hover {
    border: .5px solid var(--company-color);
}

.workouts > article > form > button {
    border: .5px solid var(--secondary-color);
    background-color: var(--primary-color);
    letter-spacing: .5px;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.workouts > article > form > button:hover {
    border: .5px solid var(--company-color);
}

.workouts > main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1400px;
    inline-size: 95%;
    margin: 50px auto 50px auto;
    gap: 30px;
}

.workouts > main > a {
    text-decoration: none;
    color: var(--secondary-color);
    border: .5px solid var(--secondary-color);
    border-radius: 15px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 400px;
}

.workouts > main > a > img {
    width: 100%;
}

.workouts > main > a > h2 {
    letter-spacing: 2px;
    font-size: 18px;
    text-decoration: underline;
}

@media screen and (max-width: 950px) {

    .workouts > h1 {
        max-width: 1400px;
        inline-size: 100%;
        margin: 100px auto 50px auto;
        font-family: var(--primary-font);
        font-size: 45px;
        letter-spacing: 1px;
        text-align: center;
    }

}

@media screen and (max-width: 700px) {

    .workouts > article {
        flex-direction: column;
        margin: 50px 0px;
    }

    .workouts > article > h1 {
        text-align: center;
    }

}