{% extends 'base.html' %}
{% block css %}<link rel="stylesheet" href="{{ url_for('static', filename='css/blog.css') }}">{% endblock %}
{% block title %}<title>Blog</title>{% endblock %}
{% block content %}
<section class="blog">
    <h1>Blog <span>Lås upp ditt bästa jag på Scandifit</span></h1>
    <a href="">
        <img src="{{ url_for('static', filename='pictures/training.jpg') }}" alt="Training">
        <div>
            <p>2023 - 09 - 10</p>
            <h2>Top 10 superfoods that will elivate your health!</h2>
            <p>Find the top 10 best superfoods that will elviate you health and make you feel better in your everyday life, Check it out!</p>
        </div>
    </a>
    <main>

        <a href="">
            <img src="{{ url_for('static', filename='pictures/training.jpg') }}" alt="Training">
            <p>2023 - 09 - 10</p>
            <h2>Top 10 superfoods that will elivate your health!</h2>
            <p>Find the top 10 best superfoods that will elviate you health and make you feel better in your everyday life, Check it out!</p>
        </a>

        <a href="">
            <img src="{{ url_for('static', filename='pictures/training.jpg') }}" alt="Training">
            <p>2023 - 09 - 10</p>
            <h2>Top 10 superfoods that will elivate your health!</h2>
            <p>Find the top 10 best superfoods that will elviate you health and make you feel better in your everyday life, Check it out!</p>
        </a>

        <a href="">
            <img src="{{ url_for('static', filename='pictures/training.jpg') }}" alt="Training">
            <p>2023 - 09 - 10</p>
            <h2>Top 10 superfoods that will elivate your health!</h2>
            <p>Find the top 10 best superfoods that will elviate you health and make you feel better in your everyday life, Check it out!</p>
        </a>

        <a href="">
            <img src="{{ url_for('static', filename='pictures/training.jpg') }}" alt="Training">
            <p>2023 - 09 - 10</p>
            <h2>Top 10 superfoods that will elivate your health!</h2>
            <p>Find the top 10 best superfoods that will elviate you health and make you feel better in your everyday life, Check it out!</p>
        </a>

        <a href="">
            <img src="{{ url_for('static', filename='pictures/training.jpg') }}" alt="Training">
            <p>2023 - 09 - 10</p>
            <h2>Top 10 superfoods that will elivate your health!</h2>
            <p>Find the top 10 best superfoods that will elviate you health and make you feel better in your everyday life, Check it out!</p>
        </a>

        <a href="">
            <img src="{{ url_for('static', filename='pictures/training.jpg') }}" alt="Training">
            <p>2023 - 09 - 10</p>
            <h2>Top 10 superfoods that will elivate your health!</h2>
            <p>Find the top 10 best superfoods that will elviate you health and make you feel better in your everyday life, Check it out!</p>
        </a>

        <a href="">
            <img src="{{ url_for('static', filename='pictures/training.jpg') }}" alt="Training">
            <p>2023 - 09 - 10</p>
            <h2>Top 10 superfoods that will elivate your health!</h2>
            <p>Find the top 10 best superfoods that will elviate you health and make you feel better in your everyday life, Check it out!</p>
        </a>

        <a href="">
            <img src="{{ url_for('static', filename='pictures/training.jpg') }}" alt="Training">
            <p>2023 - 09 - 10</p>
            <h2>Top 10 superfoods that will elivate your health!</h2>
            <p>Find the top 10 best superfoods that will elviate you health and make you feel better in your everyday life, Check it out!</p>
        </a>

        <a href="">
            <img src="{{ url_for('static', filename='pictures/training.jpg') }}" alt="Training">
            <p>2023 - 09 - 10</p>
            <h2>Top 10 superfoods that will elivate your health!</h2>
            <p>Find the top 10 best superfoods that will elviate you health and make you feel better in your everyday life, Check it out!</p>
        </a>
        
    </main>
</section>
{% endblock %}