{% extends 'base.html' %}
{% block css %}<link rel="stylesheet" href="{{ url_for('static', filename='css/login-signup.css') }}">{% endblock %}
{% block title %}<title>Logga In</title>{% endblock %}
{% block content %}
<section class="login-signup">
    <aside>
        <img src="{{ url_for('static', filename='pictures/logo-footer.png') }}" alt="logo">
    </aside>
    <div>
        <nav>
            <h2 id="login-btn" class="{% if mail_exists %} {% else %} show {% endif %}">Logga In</h1>
            <h2 id="register-btn" class="{% if mail_exists %} show {% endif %}">Registrera</h1>
        </nav>
        <div class="line"></div>
        <main id="login-form" class="{% if mail_exists %} {% else %} show {% endif %}">
            <form action="/login-processing" method="post">
                <h1>Välkommen Tillbaka!</h1>
                {% if wrong_information %}
                    <div>
                        <img src="{{ url_for('static', filename='pictures/icons/danger.png') }}" alt="warning sign">
                        <aside>
                            <h2>Det skedde ett problem</h2>
                            <p>Vi kan inte hitta ett konto med den information du angett</p>
                        </aside>
                    </div>
                {% endif %}
                <label for="email">E-mail</label>
                <input type="email" name="email" id="email">
                <label for="password">Lösenord</label>
                <input type="password" name="password" id="password">
                <button type="submit">Logga In</button>
                <p>Genom att fortsätta godkänner du Scandifits <a href="/terms_of_use">Användarvillkor</a> och <a href="/returpolicy">Returpolicy</a>.</p>
            </form>
        </main>
        <main id="register-form" class="{% if mail_exists %} show {% endif %}">
            <form action="/register-processing" method="post">
                <h1>Registrera Dig</h1>
                {% if mail_exists %}
                    <div>
                        <img src="{{ url_for('static', filename='pictures/icons/danger.png') }}" alt="warning sign">
                        <aside>
                            <p>Finns Redan Ett Konto Med {{ email }}</p>
                        </aside>
                    </div>
                {% endif %}
                <label for="namn">Namn</label>
                <input type="text" name="namn" id="namn">

                <label for="email">E-mail</label>
                <input type="email" name="email" id="email">

                <label for="telefonnummer">Telefonnummer</label>
                <input type="text" name="telefonnummer" id="telefonnummer" placeholder="SV +46">

                <label for="password">Lösenord</label>
                <input type="password" name="password" id="password">

                <button type="submit">Tillverka Konto</button>
                <p>Genom att fortsätta godkänner du Scandifits <a href="/terms_of_use">Användarvillkor</a> och <a href="/returpolicy">Returpolicy</a>.</p>
            </form>
        </main>
    </div>
</section>
{% endblock %}
{% block js %}<script src="{{ url_for('static', filename='js/login-signup.js') }}"></script>{% endblock %}