{% extends 'base.html' %}
{% block css %}<link rel="stylesheet" href="{{ url_for('static', filename='css/order-complete.css') }}">{% endblock %}
{% block title %}<title>Beställningen Är Klar</title>{% endblock %}
{% block content %}
<section class="order-complete">
    <h1>Tack för din beställning</h1>
    <main>
        <aside>
            <div>
                <h6>Beställningsnummer</h6>
                <p>V401321</p>
            </div>
            <div>
                <h6>Beställnings Datum</h6>
                <p>Tue Jul 27 2021</p>
            </div>
            <div>
                <h6>Kund</h6>
                <p>Reyan Doski</p>
            </div>

            <h2>Leveransadress</h2>
            <p>Reyan Doski</p>
            <p>Albinsrogatan 41</p>
            <p>21467</p>
            <p>Malmö</p>

            <h2>Kontaktinformation</h2>
            <p>Reyan Doski</p>
            <p>Rayan.d15@outlook.com</p>
            <p>0700252258</p>

            <h2>Kontaktinformation</h2>
            <h6>Summa: <span>0 SEK</span></h6>
            <h6>Fraktleverantör: <img src="{{ url_for('static', filename='pictures/postnord.png') }}" alt="postnord"></h6>
            <h6>Leveranstid: <span>1-3 Arbetsdagar</span></h6>
        </aside>
        <div>
            <h2>Ordersammanfattning</h2>
            <aside>
                <h6>Delsumma:</h6>
                <p>249 SEK</p>
            </aside>
            <aside>
                <h6>Frakt:</h6>
                <p>0 SEK</p>
            </aside>
            <aside>
                <h6>Ordersumma:</h6>
                <p>249 SEK</p>
            </aside>
            <p>kommer inom 5-6 arbetsdagar</p>
            <main>
                <img src="{{ url_for('static', filename='pictures/product-picture/multivitamin.png') }}" alt="Multivitamin">
                <aside>
                    <h6>Multivitamin Pro</h6>
                    <h6>Antal: <span>3</span></h6>
                    <h6>beställningsID: <span>1231</span></h6>
                </aside>
            </main>
        </div>
    </main>
</section>
{% endblock %}
{% block js %} <script src="return.js" defer></script> {% endblock %}