{% extends 'base.html' %}
{% block css %}<link rel="stylesheet" href="{{ url_for('static', filename='css/profile-base.css') }}">{% endblock %}
{% block title %}<title>Profile Base</title>{% endblock %}
{% block content %}
<section class="profile-slide-container">

    <nav>
        <button id="open-profile-slide-btn"><img src="{{ url_for('static', filename='pictures/icons/menu.png') }}" alt="profile menu"> Öppna Meny</button>
    </nav>

    <div class="backgorund-slide"></div>
    <main id="main-slide">
        <aside>
            <h2>{{ namn }} </h2>
            <h3>Våra TJänster</h3>
            <ul>
                <li><a id="all-exercises" href="/workouts">Alla Övningar</a></li>
                <li><a id="tillverka-schema" href="">Tillverka Schema</a></li>
                <li><a id="blog-sida" href="/blog">Blog</a></li>
            </ul>
            <h3>Din information</h3>
            <ul>
                <li><a id="ditt-schema" href="/schedual">Ditt Schema</a></li>
                <li><a id="din-adress" href="/profile-adress">Din Adress</a></li>
                <li><a id="din-information" href="/profile-information">Din Information</a></li>
            </ul>
            <button id="close-slide-btn">X</button>
        </aside>
        <a href="/logout"><img src="{{ url_for('static', filename='pictures/icons/logout.png') }}" alt=""> Logga ut</a>
    </main>
</section>
{% endblock %}
{% block js %}<script src="{{ url_for('static', filename='js/profile-base.js') }}"></script>{% endblock %}