{% extends 'profile_base.html' %}
{% block css %} {{ super() }} <link rel="stylesheet" href="{{ url_for('static', filename='css/profile_sleepplan.css') }}">{% endblock %}
{% block title %}<title>Din Sömnplan</title>{% endblock %}
{% block content %}
{{ super() }}
<!-- If We Have Allowed Them To See sleepplan -->
{% if show_sleepplan == true %}
<section class="sleeplan_section">

    <!-- 6th Cykle Sleep desctiption -->
    <article>
        <aside>

            <aside>
                <h2>{{ sleep_calculations[3] }}</h2>
                <p>Timmar i sängen <br> (6 sömncykler)</p>
            </aside>

            <div class="line"></div>

            <div>

                <aside>
                    <img src="{{ url_for('static', filename='pictures/icons/night.png') }}" alt="Moon">
                    <div>
                        <h3>{{ sleep_calculations[0] }}</h3>
                        <p>Föreslagen <br> läggdags</p>
                    </div>
                </aside>

                <div class="line"></div>

                <aside>
                    <img src="{{ url_for('static', filename='pictures/icons/sun.png') }}" alt="sun">
                    <div>
                        <h3>{{ sleep_calculations[6] }}</h3>
                        <p>Föreslagen <br> läggdags</p>
                    </div>
                </aside>

            </div>

        </aside>
    </article>

    <!-- line -->
    <aside>
        <div></div>
        <h4>Alternativ</h4>
        <div></div>
    </aside>

    <!-- 5th Cykle Sleep desctiption -->
    <article>
        <aside>

            <aside>
                <h2>{{ sleep_calculations[4] }}</h2>
                <p>Timmar i sängen <br> (5 sömncykler)</p>
            </aside>

            <div class="line"></div>

            <div>

                <aside>
                    <img src="{{ url_for('static', filename='pictures/icons/night.png') }}" alt="Moon">
                    <div>
                        <h3>{{ sleep_calculations[1] }}</h3>
                        <p>Föreslagen <br> läggdags</p>
                    </div>
                </aside>

                <div class="line"></div>

                <aside>
                    <img src="{{ url_for('static', filename='pictures/icons/sun.png') }}" alt="sun">
                    <div>
                        <h3>{{ sleep_calculations[6] }}</h3>
                        <p>Föreslagen <br> läggdags</p>
                    </div>
                </aside>

            </div>

        </aside>
    </article>

    <!-- line -->
    <aside>
        <div></div>
        <h4>Alternativ</h4>
        <div></div>
    </aside>

    <!-- 4th Cykle Sleep desctiption -->
    <article>
        <aside>

            <aside>
                <h2>{{ sleep_calculations[5] }}</h2>
                <p>Timmar i sängen <br> (4 sömncykler)</p>
            </aside>

            <div class="line"></div>

            <div>

                <aside>
                    <img src="{{ url_for('static', filename='pictures/icons/night.png') }}" alt="Moon">
                    <div>
                        <h3>{{ sleep_calculations[2] }}</h3>
                        <p>Föreslagen <br> läggdags</p>
                    </div>
                </aside>

                <div class="line"></div>

                <aside>
                    <img src="{{ url_for('static', filename='pictures/icons/sun.png') }}" alt="sun">
                    <div>
                        <h3>{{ sleep_calculations[6] }}</h3>
                        <p>Föreslagen <br> läggdags</p>
                    </div>
                </aside>

            </div>

        </aside>
    </article>

    <!-- line -->
    <aside>
        <div></div>
    </aside>

    <!-- Caffein Limitation -->
    <article>
        <p>Försök Hålla Dig Till Ca</p>
        <h2>{{ caffeine_in_mg }} Mg Koffein Per Dag</h2>
        <div>
            <aside>
                {% if caffeine_in_mg > 400 %}
                <img src="{{ url_for('static', filename='pictures/icons/coffee.png') }}" alt="">
                <img src="{{ url_for('static', filename='pictures/icons/coffee.png') }}" alt="">
                <img src="{{ url_for('static', filename='pictures/icons/coffee.png') }}" alt="">
                <img src="{{ url_for('static', filename='pictures/icons/coffee.png') }}" alt="">
                <img src="{{ url_for('static', filename='pictures/icons/coffee_25.png') }}" alt="">
                {% elif caffeine_in_mg > 375 %}
                <img src="{{ url_for('static', filename='pictures/icons/coffee.png') }}" alt="">
                <img src="{{ url_for('static', filename='pictures/icons/coffee.png') }}" alt="">
                <img src="{{ url_for('static', filename='pictures/icons/coffee.png') }}" alt="">
                <img src="{{ url_for('static', filename='pictures/icons/coffee.png') }}" alt="">
                {% elif caffeine_in_mg > 350 %}
                <img src="{{ url_for('static', filename='pictures/icons/coffee.png') }}" alt="">
                <img src="{{ url_for('static', filename='pictures/icons/coffee.png') }}" alt="">
                <img src="{{ url_for('static', filename='pictures/icons/coffee.png') }}" alt="">
                <img src="{{ url_for('static', filename='pictures/icons/coffee_75.png') }}" alt="">
                {% elif caffeine_in_mg > 325 %}
                <img src="{{ url_for('static', filename='pictures/icons/coffee.png') }}" alt="">
                <img src="{{ url_for('static', filename='pictures/icons/coffee.png') }}" alt="">
                <img src="{{ url_for('static', filename='pictures/icons/coffee.png') }}" alt="">
                <img src="{{ url_for('static', filename='pictures/icons/coffee_50.png') }}" alt="">
                {% elif caffeine_in_mg > 300 %}
                <img src="{{ url_for('static', filename='pictures/icons/coffee.png') }}" alt="">
                <img src="{{ url_for('static', filename='pictures/icons/coffee.png') }}" alt="">
                <img src="{{ url_for('static', filename='pictures/icons/coffee.png') }}" alt="">
                <img src="{{ url_for('static', filename='pictures/icons/coffee_25.png') }}" alt="">
                {% elif caffeine_in_mg > 275 %}
                <img src="{{ url_for('static', filename='pictures/icons/coffee.png') }}" alt="">
                <img src="{{ url_for('static', filename='pictures/icons/coffee.png') }}" alt="">
                <img src="{{ url_for('static', filename='pictures/icons/coffee.png') }}" alt="">
                {% elif caffeine_in_mg > 250 %}
                <img src="{{ url_for('static', filename='pictures/icons/coffee.png') }}" alt="">
                <img src="{{ url_for('static', filename='pictures/icons/coffee.png') }}" alt="">
                <img src="{{ url_for('static', filename='pictures/icons/coffee_75.png') }}" alt="">
                {% elif caffeine_in_mg > 225 %}
                <img src="{{ url_for('static', filename='pictures/icons/coffee.png') }}" alt="">
                <img src="{{ url_for('static', filename='pictures/icons/coffee.png') }}" alt="">
                <img src="{{ url_for('static', filename='pictures/icons/coffee_50.png') }}" alt="">
                {% elif caffeine_in_mg > 200 %}
                <img src="{{ url_for('static', filename='pictures/icons/coffee.png') }}" alt="">
                <img src="{{ url_for('static', filename='pictures/icons/coffee.png') }}" alt="">
                <img src="{{ url_for('static', filename='pictures/icons/coffee_25.png') }}" alt="">
                {% elif caffeine_in_mg > 175 %}
                <img src="{{ url_for('static', filename='pictures/icons/coffee.png') }}" alt="">
                <img src="{{ url_for('static', filename='pictures/icons/coffee.png') }}" alt="">
                {% elif caffeine_in_mg > 150 %}
                <img src="{{ url_for('static', filename='pictures/icons/coffee.png') }}" alt="">
                <img src="{{ url_for('static', filename='pictures/icons/coffee_75.png') }}" alt="">
                {% elif caffeine_in_mg > 125 %}
                <img src="{{ url_for('static', filename='pictures/icons/coffee.png') }}" alt="">
                <img src="{{ url_for('static', filename='pictures/icons/coffee_50.png') }}" alt="">
                {% elif caffeine_in_mg > 100 %}
                <img src="{{ url_for('static', filename='pictures/icons/coffee.png') }}" alt="">
                <img src="{{ url_for('static', filename='pictures/icons/coffee_25.png') }}" alt="">
                {% elif caffeine_in_mg > 75 %}
                <img src="{{ url_for('static', filename='pictures/icons/coffee.png') }}" alt="">
                {% elif caffeine_in_mg > 50 %}
                <img src="{{ url_for('static', filename='pictures/icons/coffee_75.png') }}" alt="">
                {% elif caffeine_in_mg > 25 %}
                <img src="{{ url_for('static', filename='pictures/icons/coffee_50.png') }}" alt="">
                {% elif caffeine_in_mg > 0 %}
                <img src="{{ url_for('static', filename='pictures/icons/coffee_25.png') }}" alt="">                
                {% else %}
                <p>You Are Way To Heavy!!</p>
                {% endif %}
            </aside>
            <div class="line"></div>
            <h3>{{ caffeine_in_mg / 100 }}</h3>
        </div>
        <h3>Koppar Kaffe</h3>
        <a id="to_think_about">Att Tänka På</a>
    </article>

    <!-- line -->
    <aside>
        <div></div>
    </aside>

    <!-- Phone in Night Mode Before Sleep -->
    <article>
        <p>Sätt På Ögonskydd samt låg ljusstyrka</p>
        <h2>En timme innan läggdags</h2>
        <img src="{{ url_for('static', filename='pictures/icons/looking_at_screen_at_night.png') }}" alt="Phone_before_sleep">
        <a id="why_btn">Varför?</a>
    </article>

    <!-- line -->
    <aside>
        <div></div>
    </aside>

    <!-- Fördelar Och Nackdelar -->
    <article>
        <article>
            <aside>
                <img src="{{ url_for('static', filename='pictures/icons/good_sleep.png') }}" alt="Good_sleep">
                <h2>Fördelarna med Bra sömn</h2>
                <a id="benifits_of_sleep_btn">Visa Alla</a>
            </aside>
            <div class="line"></div>
            <aside>
                <img src="{{ url_for('static', filename='pictures/icons/insomnia.png') }}" alt="Bad_sleep">
                <h2>Fördelarna med Bra sömn</h2>
                <a id="disadvantages_of_bad_sleep_btn">Visa Alla</a>
            </aside>
        </article>
    </article>

    <a id="view_information_btn">Visa Min Information</a>

</section>

<!-- popup message -->
<section class="sleeplan_section_popup_message">

    <article id="show_to_think_about">
        <h2>Att Tänka På</h2>
        <ul>
            <li>Observera att {{ caffeine_in_mg }} MG kan <span>variera beroende på din koffeinkänslighet</span></li>
            <li>Kom ihåg att undvika kaffe <span>sex timmar</span> före sömn</li>
            <li>Kom också ihåg att <span>dricka tillräckligt med vatten</span></li>
        </ul>
    </article>

    <article id="why_questionmark">
        <h2>Varför...</h2>
        <ul>
            <li><span>Undvik blått ljus en timme före sömn: </span> Hjälper dig att somna snabbare genom att reglera melatoninproduktionen.</li>
            <li><span>Sov djupare: </span>Minskar ögonbelastning och ger en mer återhämtande sömn.</li>
            <li><span>Vakna upp utvilad: </span>Med djupare sömn vaknar du känna dig mer utvilad och redo för dagen.</li>
        </ul>
    </article>

    <article id="benifits_of_sleep">
        <h2>Fördelarna med bra sömn</h2>
        <ul>
            <li>Increased energy levels: Wake up feeling refreshed and ready to tackle the day.</li>
            <li>Improved mood: Enjoy a more positive outlook and reduced irritability.</li>
            <li>Enhanced cognitive function: Sharper focus, better memory, and improved decision-making.</li>
            <li>Strengthened immune system: Better equipped to fight off illnesses and infections.</li>
            <li>Healthy weight management: Reduced cravings for unhealthy foods and better metabolism regulation.</li>
            <li>Lower risk of chronic diseases: Decreased risk of conditions like heart disease, diabetes, and stroke.</li>
            <li>Faster recovery: Improved muscle repair and overall physical restoration during sleep.</li>
        </ul>
    </article>

    <article id="disadvantages_of_bad_sleep">
        <h2>nackdelarna med dålig sömn</h2>
        <ul>
            <li>Fatigue: Constant tiredness and lack of energy throughout the day.</li>
            <li>Mood swings: Increased irritability, anxiety, and depression.</li>
            <li>Cognitive impairment: Poor concentration, memory problems, and difficulty making decisions.</li>
            <li>Weakened immune system: Greater susceptibility to illnesses and longer recovery times.</li>
            <li>Weight gain: Increased cravings for sugary and high-calorie foods, leading to weight gain.</li>
            <li>Increased risk of chronic diseases: Higher likelihood of developing conditions like obesity, diabetes, and hypertension.</li>
            <li>Impaired physical performance: Reduced coordination, slower reaction times, and decreased athletic performance.</li>
        </ul>
    </article>

    <article id="view_information">
        <h2>Min Information</h2>
        <p>Scrolla Ner <span>⬇</span></p>
        <form action="/quiz/sleepplan"  method="post">

            <label for="age">Ålder:</label>
            <input type="text" name="age" id="age" value="{{ user_sleepplan[1] }} År Gammal" readonly>

            <label for="weight">Vikt:</label>
            <input type="text" name="weight" id="weight" value="{{ user_sleepplan[2] }} Kg" readonly>

            <label for="wake_up_time">Vaknar Upp:</label>
            <input type="text" name="wake_up_time" id="wake_up_time" value="{{ user_sleepplan[3] }}" readonly>

            <label for="time_to_sleep">Tid För Att Somna</label>
            <input type="text" name="time_to_sleep" id="time_to_sleep" value="Det Tar Dig {{ user_sleepplan[4] }} Min Att Somna" readonly>

            <label for="how_much_sleep_do_you_get_on_avg">Din Daliga Sömn Tid: <span>(Under Tiden Då Information angavs)</span></label>
            <input type="text" name="how_much_sleep_do_you_get_on_avg" id="how_much_sleep_do_you_get_on_avg" value="Du sover Ungefär {{ user_sleepplan[5] }} Per Dag" readonly>

            <label for="daily_mood_and_energy">Daglig Humör Och Energinivå: <span>(Under Tiden Då Information angavs)</span></label>
            <input type="text" name="daily_mood_and_energy" id="daily_mood_and_energy" value="{{ user_sleepplan[6] }}" readonly>

            <label for="caffeine_in_the_afternoon">koffein på eftermiddagen <span>(Under Tiden Då Information angavs)</span></label>
            <input type="text" name="caffeine_in_the_afternoon" id="caffeine_in_the_afternoon" value="{{ user_sleepplan[7] }}" readonly>

            <label for="sleep_disturbances_or_symptoms">sömnstörningar eller symtomer? <span>(Under Tiden Då Information angavs)</span></label>
            <input type="text" name="sleep_disturbances_or_symptoms" id="sleep_disturbances_or_symptoms" value="{{ user_sleepplan[8] }}" readonly>

            <button type="submit">Redigera Information</button>

        </form>
        <p></p>
    </article>

</section>
{% else %}
<section class="sleepplan">
    <main>
        <h1>{{ heading }}</h1>
        <a href="{{ btn_link }}">{{ btn_text }}</a>
    </main>
</section>
{% endif %}
{% endblock %}
{% block js %} {{ super() }} <script src="{{ url_for('static', filename='js/profile_sleepplan.js') }}"></script>{% endblock %}