{% extends 'profile_base.html' %}
{% block css %} {{ super() }} <link rel="stylesheet" href="{{ url_for('static', filename='css/recipe.css') }}">{% endblock %}
{% block title %}<title>{{ recipe['name'] }}</title>{% endblock %}
{% block content %}
{{ super() }}
    <section class="recipe_section">
        <article>
            <img src="{{ recipe['image'] }}" alt="{{ recipe['name'] }}">
            <aside>
                <h1>{{ recipe['name'] }}</h1>
                <h3><span>Förberedelsetid:</span> {{ recipe['prepareTime'] }} Minuter</h2>
                <h3><span>Tillagningstid:</span> {{ recipe['cookTime'] }} Minuter</h2>
                <div class="line"></div>
                <h2>Beskrivning</h2>
                <p>{{ recipe['description'] }}</p>
                <div class="line"></div>
                <h2>Taggar</h2>
                <div>
                    {% for tag in recipe['tags'] %}
                        <a href="#">{{ tag }}</a>
                    {% endfor %}
                </div>
            </aside>
        </article>

        <div class="ingredients">
            <table>
                <tr>
                    <th>Ingredienser</th>
                    <th>Mått</th>
                    <th>Gram</th>
                </tr>
                {% for ingredient in recipe['ingredients'] %}
                <tr>
                    <td>{{ ingredient.name }}</td>
                    <td>{{ ingredient.servingSize.desc }}</td>
                    <td>{{ ingredient.servingSize.grams }}g</td>
                </tr>
                {% endfor %}
            </table>
        </div>

        <div class="steps">
            <table>
                <tr>
                    <th>Steg Att Följa</th>
                </tr>
                {% for steps in recipe['steps'] %}
                <tr>
                    <td>{{ steps }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>

        <div class="nutrients">
            <table>
                <tr>
                    <th>Näringsämne</th>
                    <th>Värde</th>
                </tr>
                {% for key, value in recipe['nutrients'].items() %}
                <tr>
                    <td>{{ key }}</td>
                    <td>{{ value }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
        

    </section>
{% endblock %}
