{% extends 'base.html' %}
{% block css %}<link rel="stylesheet" href="{{ url_for('static', filename='css/policy.css') }}">{% endblock %}
{% block title %}<title>Secretespolicy</title>{% endblock %}
{% block content %}
<section class="secretespolicy">
    <main>

        <h1>Användarvillkor för Scandifit</h1>

        <h2>Senast uppdaterad: [Datum]</h2>
        <p>Välkommen till [Ditt Företagsnamn]. Dessa användarvillkor (hädanefter kallade "villkoren") reglerar din användning av våra tjänster och webbplatser. Vi rekommenderar att du läser och förstår dessa villkor noggrant innan du använder våra tjänster. Genom att använda våra tjänster samtycker du till dessa villkor.</p>

        <h2>1. Åtkomst och användning av tjänsterna</h2>
        <p>(a) Ålderskrav: Du måste vara minst 18 år gammal eller ha nått den ålder som krävs i din jurisdiktion för att använda våra tjänster. Om du är underårig måste du ha samtycke från en vårdnadshavare eller juridisk förmyndare.</p>
        <p>(b) Ansvar för kontot: Du är ansvarig för att skydda ditt konto och lösenord. Vi lagrar inte lösenord i klartext och rekommenderar att du väljer ett säkert lösenord och inte delar dina inloggningsuppgifter med andra.</p>

        <h2>2. Användarbeteende och ansvar</h2>
        <p>(a) Rättigheter och regler: Du samtycker till att följa alla gällande lagar och regler när du använder våra tjänster. Du samtycker även till att inte använda våra tjänster för att föra innehåll eller beteenden som är olagliga, skadliga, trakasserande, störande eller kränkande för andra användare.</p>
        <p>(b) Integritet och personuppgifter: Du samtycker till att inte försöka samla in, lagra eller sprida personuppgifter om andra användare utan deras samtycke. Vi följer noggrant vår sekretesspolicy för att skydda din integritet och dina personuppgifter.</p>

        <h2>3. Innehåll och immateriella rättigheter</h2>
        <p>(a) Rättigheter till innehåll: Du behåller äganderätten till allt innehåll du skapar eller laddar upp till våra tjänster. Genom att använda våra tjänster ger du oss en begränsad licens att använda och visa ditt innehåll i enlighet med våra tjänster och dessa villkor.</p>
        <p>(b) Immateriella rättigheter: Alla immateriella rättigheter, inklusive varumärken, upphovsrätt och patent, som hör till våra tjänster är vårt exklusiva ägande och får inte användas utan vårt skriftliga tillstånd.</p>

        <h2>4. Ändringar och uppdateringar</h2>
        <p>Vi förbehåller oss rätten att när som helst ändra eller uppdatera dessa villkor. Du kommer att meddelas om eventuella ändringar, och det är ditt ansvar att regelbundet granska villkoren. Din fortsatta användning av våra tjänster efter att ändringar har införts anses som ditt godkännande av de ändrade villkoren.</p>

        <h2>5. Ansvarsbegränsning och ansvarsfrihet</h2>
        <p>Vi strävar efter att tillhandahålla våra tjänster med högsta möjliga kvalitet, men vi kan inte garantera att tjänsterna kommer att vara felfria eller oavbrutna. Vårt ansvar är begränsat enligt gällande lagstiftning.</p>

        <h2>6. Kontaktinformation</h2>
        <p>Om du har frågor, kommentarer eller klagomål om våra tjänster eller dessa villkor, vänligen kontakta oss på [kontaktinformation]. Vi är här för att hjälpa dig och svara på dina frågor.</p>

    </main>
</section>
{% endblock %}
