{% extends 'base.html' %}
{% block css %}<link rel="stylesheet" href="{{ url_for('static', filename='css/trainingplan_quiz.css') }}">{% endblock %}
{% block title %}<title>Träningsplan Quiz</title>{% endblock %}
{% block content %}
<section class="quiz">
    <form action="/trainingplan/quiz/completed" method="post" id="form-quiz">
        <!--bar-->
        <h2 id="progress-count">0/10</h2>
        <nav>
            <img src="{{ url_for('static', filename='pictures/icons/left-arrow.png') }}" alt="" id="go-backwards">
            <div>
                <div id="progress-bar"></div>
            </div>
            <img src="{{ url_for('static', filename='pictures/icons/right-arrow.png') }}" alt="" id="go-forward">
        </nav>
        <!-- quiz -->

        <div class="one">
            <h2>Prioritera din hälsa och kondition</h2>
            <p>Hur Gammal Är Du?</p>
            <main>
                <label for="age-18-29" id="ages">
                    <img src="{{ url_for('static', filename='pictures/quiz/18-29.webp') }}" alt="age 18-29">
                    <p>Ålder: 18-29</p>
                </label>

                <input type="radio" name="age" value="18-29" class="age" id="age-18-29">

                <label for="age-30-39" id="ages">
                    <img src="{{ url_for('static', filename='pictures/quiz/30-39.webp') }}" alt="age 18-29">
                    <p>Ålder: 30-39</p>
                </label>

                <input type="radio" name="age" value="30-39" class="age" id="age-30-39">

                <label for="age-40-49" id="ages">
                    <img src="{{ url_for('static', filename='pictures/quiz/40-49.webp') }}" alt="age 18-29">
                    <p>Ålder: 40-49</p>
                </label>

                <input type="radio" name="age" value="40-49" class="age" id="age-40-49">

                <label for="age-50+" id="ages">
                    <img src="{{ url_for('static', filename='pictures/quiz/50+.webp') }}" alt="age 18-29">
                    <p>Ålder: 50+</p>
                </label>

                <input type="radio" name="age" value="50+" class="age" id="age-50+">

            </main>
        </div>

        <div class="two">
            <h2>Vad Är Ditt Mål?</h2>
            <main>
                <label for="goal-one" id="goal">
                    <img src="{{ url_for('static', filename='pictures/quiz/slim_body.webp') }}" alt="goal">
                    <p>Gå ner i vikt</p>
                </label>

                <input type="radio" name="goal" value="ned i vikt" class="radio-goals" id="goal-one">

                <label for="goal-two" id="goal">
                    <img src="{{ url_for('static', filename='pictures/quiz/gain_muscle.png') }}" alt="goal">
                    <p>Få muskelmassa</p>
                </label>

                <input type="radio" name="goal" value="muskelmassa" class="radio-goals" id="goal-two">

                <label for="goal-three" id="goal">
                    <img src="{{ url_for('static', filename='pictures/quiz/get_shredded.png') }}" alt="goal">
                    <p>Förbättra din fysik</p>
                </label>

                <input type="radio" name="goal" value="förbättra din fysik" class="radio-goals" id="goal-three">

            </main>
        </div>

        <div class="three">
            <h2>Välj din kroppstyp</h2>
            <main>
                <label for="kroppstyp-one" id="din-kroppstyp">
                    <aside>
                        <h3>Ectomorph</h3>
                        <p>Lite kroppsfett och muskler. Jag har svårt att gå upp i vikt.</p>
                    </aside>
                    <img src="{{ url_for('static', filename='pictures/quiz/body_type_ec.png') }}" alt="Din Kroppstyp">
                </label>

                <input type="radio" name="body-type" value="ectomorph" class="radio-din-kroppstyp" id="kroppstyp-one">

                <label for="kroppstyp-two" id="din-kroppstyp">
                    <aside>
                        <h3>Mesomorph</h3>
                        <p>Tappar lätt kroppsfett och får snabbt muskler.</p>
                    </aside>
                    <img src="{{ url_for('static', filename='pictures/quiz/body_type_me.png') }}" alt="Din Kroppstyp">
                </label>

                <input type="radio" name="body-type" value="mesomorph" class="radio-din-kroppstyp" id="kroppstyp-two">

                <label for="kroppstyp-three" id="din-kroppstyp">
                    <aside>
                        <h3>Endomorph</h3>
                        <p>Går lätt upp i vikt jämfört med andra kroppstyper.</p>
                    </aside>
                    <img src="{{ url_for('static', filename='pictures/quiz/body_type_en.png') }}" alt="Din Kroppstyp">
                </label>

                <input type="radio" name="body-type" value="endomorph" class="radio-din-kroppstyp" id="kroppstyp-three">

                <div>
                    <h2>Testa för att bestämma din kroppstyp</h2>
                    <p>Ta tag i din motsatta handled med tummen och pekfingret. Om du är högerhänt, använd din högra hand för att ta tag i din vänstra handled.</p>
                    <h6><span>Ectomorph —</span> vira runt med lätthet.</h6>
                    <h6><span>Mesomorph —</span> röra vid varandra.</h6>
                    <h6><span>Endomorph —</span> kommer inte i kontakt.</h6>
                    <img src="{{ url_for('static', filename='pictures/quiz/determine-body-type.png') }}" alt="holding werist">
                </div>

            </main>
        </div>

        <div class="four">
            <h2>Välj Ett Problemområde</h2>
            <main>
                <div>
                    <label for="problem-area-chest" id="problem-area">
                        <p>Svag bröstkorg</p>
                        <img src="{{ url_for('static', filename='pictures/quiz/chest.webp') }}" alt="Problem area chest">
                    </label>

                    <input type="radio" name="problem-area" value="chest" class="radio-problem-area" id="problem-area-chest">

                    <label for="problem-area-arms" id="problem-area">
                        <p>Smala armar</p>
                        <img src="{{ url_for('static', filename='pictures/quiz/arms.webp') }}" alt="Problem area arms">
                    </label>

                    <input type="radio" name="problem-area" value="arms" class="radio-problem-area" id="problem-area-arms">
                </div>
                <div>
                    <label for="problem-area-tummy" id="problem-area">
                        <p>tjock mage</p>
                        <img src="{{ url_for('static', filename='pictures/quiz/tummy.webp') }}" alt="Problem area tummy">
                    </label>

                    <input type="radio" name="problem-area" value="stomach" class="radio-problem-area" id="problem-area-tummy">

                    <label for="problem-area-legs" id="problem-area">
                        <p>Smala ben</p>
                        <img src="{{ url_for('static', filename='pictures/quiz/legs.webp') }}" alt="Problem area legs">
                    </label>

                    <input type="radio" name="problem-area" value="legs" class="radio-problem-area" id="problem-area-legs">
                </div>
            </main>
        </div>

        <div class="five">
            <main>
                <h2>Hur lång är du?</h2>
                <label for="height">längd (cm)</label>
                <input type="text" name="height" id="height" onkeydown="preventEnterSubmit(event)">
                <h3 id="height-vidare">Vidare</h3>
            </main>
        </div>

        <div class="six">
            <main>
                <h2>Vad är din nuvarande vikt och målvikt?</h2>
                <label for="vikt">Nuvarande (Kg)</label>
                <input type="text" name="vikt" id="vikt" onkeydown="preventEnterSubmit(event)">
                <label for="målvikt">Målvikt (Kg)</label>
                <input type="text" name="malvikt" id="malvikt" onkeydown="preventEnterSubmit(event)">
                <h3 id="weight-vidare">Vidare</h3>
            </main>
        </div>

        <div class="seven">
            <main>
                <h2>Hur ofta vill du träna per vecka?</h2>
                <p>allt under 3 kommer att påverka ditt förväntade resultat</p>
                <aside>

                    <label for="one" id="antal-gng-per-vecka">1</label>
                    <input type="radio" name="gng-per-vecka" value="1" class="antal-gng-per-vecka" id="one">

                    <label for="two" id="antal-gng-per-vecka">2</label>
                    <input type="radio" name="gng-per-vecka" value="2" class="antal-gng-per-vecka" id="two">

                    <label for="three" id="antal-gng-per-vecka">3</label>
                    <input type="radio" name="gng-per-vecka" value="3" class="antal-gng-per-vecka" id="three">

                    <label for="four" id="antal-gng-per-vecka">4</label>
                    <input type="radio" name="gng-per-vecka" value="4" class="antal-gng-per-vecka" id="four">

                    <label for="five" id="antal-gng-per-vecka">5</label>
                    <input type="radio" name="gng-per-vecka" value="5" class="antal-gng-per-vecka" id="five">

                    <label for="six" id="antal-gng-per-vecka">6</label>
                    <input type="radio" name="gng-per-vecka" value="6" class="antal-gng-per-vecka" id="six">

                    <label for="seven" id="antal-gng-per-vecka">7</label>
                    <input type="radio" name="gng-per-vecka" value="7" class="antal-gng-per-vecka" id="seven">

                </aside>
            </main>
        </div>

        <div class="eight">
            <main>
                <h2>har du något av följande tillstånd?</h2>
                <div>
                    <aside>

                        <label for="sjukdom-heart" id="foljande-tillstand">Hjärtsjukdom</label>
                        <input type="radio" name="sjukdom" value="heart" class="foljande-tillstand" id="sjukdom-heart">

                        <label for="sjukdom-skolosis" id="foljande-tillstand">Svår skolios</label>
                        <input type="radio" name="sjukdom" value="skolosis" class="foljande-tillstand" id="sjukdom-skolosis">

                        <label for="sjukdom-Spinal" id="foljande-tillstand">Spinal skada</label>
                        <input type="radio" name="sjukdom" value="spinal" class="foljande-tillstand" id="sjukdom-Spinal">

                        <label for="sjukdom-malign" id="foljande-tillstand">Godartad eller malign tumör</label>
                        <input type="radio" name="sjukdom" value="malign" class="foljande-tillstand" id="sjukdom-malign">

                        <label for="sjukdom-Hypertoni" id="foljande-tillstand">Hypertoni</label>
                        <input type="radio" name="sjukdom" value="hypertoni" class="foljande-tillstand" id="sjukdom-Hypertoni">

                        <label for="sjukdom-Inget" id="foljande-tillstand" class="inget">Inget</label>
                        <input type="radio" name="sjukdom" value="inget" class="foljande-tillstand" id="sjukdom-Inget">

                    </aside>
                    <img src="{{ url_for('static', filename='pictures/quiz/health-status.png') }}" alt="">
                </div>
            </main>
        </div>

        <div class="nine">
            <main>
                <h2>Välj platsen för dina träningspass</h2>
                <label for="hem" id="training-place">Hemma <img src="{{ url_for('static', filename='pictures/quiz/home.png') }}" alt="home"></label>
                <input type="radio" name="home-or-gym" class="home-or-gym" value="hemma" id="hem">
                <label for="gym" id="training-place">gym <img src="{{ url_for('static', filename='pictures/quiz/gym.png') }}" alt="gym"></label>
                <input type="radio" name="home-or-gym" class="home-or-gym" value="gym" id="gym">
            </main>
        </div>

        <div class="ten">
            <main>
                <h2>Vilken typ av utrustning har du tillgång till?</h2>

                <label for="utrustning-one" id="utrustning">
                    <h3>ingen utrustning</h3>
                </label>
                <input type="radio" name="utrustning" class="utrustning" value="ingen utrustning" id="utrustning-one">

                <label for="utrustning-two" id="utrustning">
                    <h3>grundläggande utrustning</h3>
                    <p>Hantlar, hopprep etc...</p>
                </label>
                <input type="radio" name="utrustning" class="utrustning" value="grundläggande utrustning" id="utrustning-two">

                <label for="utrustning-three" id="utrustning">
                    <h3>full utrustning</h3>
                    <p>utrustning som finns i de flesta gym i sverige.</p>
                </label>
                <input type="radio" name="utrustning" class="utrustning" value="full utrustning" id="utrustning-three">

            </main>
        </div>

        <div class="eleven">
            {% if user_data %}
            <aside>
                <button type="submit" id="sumbit_btn">Skapa träningsplan</button>
            </aside>
            {% else %}
            <main>
                <h2>Skapa ett <span>Gratis Konto</span> för att få tillgång till <span>ditt personliga schema!</span></h2>

                <label for="name">Namn</label>
                <input type="text" name="name" id="name" onkeydown="preventEnterSubmit(event)">

                <label for="email">E-mail</label>
                <input type="email" name="email" id="email" onkeydown="preventEnterSubmit(event)">

                <label for="telefonnummer">Telefonnummer -<span> Frivilligt, men rekommenderat</span></label>
                <input type="text" name="telefonnummer" id="telefonnummer" placeholder="SV +46" onkeydown="preventEnterSubmit(event)">

                <label for="pass">Lösenord</label>
                <input type="password" name="pass" id="pass" onkeydown="preventEnterSubmit(event)">

                <button type="submit" id="sumbit_btn">Tillverka konto</button>
                <p>Genom att fortsätta godkänner du Scandifits <a href="/terms_of_use">Användarvillkor</a> och <a href="/returpolicy">Returpolicy</a>.</p>
            </main>
            {% endif %}
        </div>

    </form>
</section>
{% endblock %}
{% block js %}<script src="{{ url_for('static', filename='js/trainingplan_quiz.js') }}"></script>{% endblock %}