{% extends 'profile-base.html' %}
{% block css %} {{ super() }} <link rel="stylesheet" href="{{ url_for('static', filename='css/workout.css') }}">{% endblock %}
{% block title %}<title>Workout</title>{% endblock %}
{% block content %}
{{ super() }}
<section class="workout">
    <main>
        <img src="{{ url_for('static', filename='pictures/workouts/' + workout[3] ) }}" alt="Tränings bild">
        <h2>ÖVNINGSDATABAS</h2>
        <h1>{{ workout[1] }}</h1>
        <h3><strong>Målmuskel:</strong> {{ workout[2] }}</h3>
        <p><strong>Beskrivning</strong></p>
        <p>{{ workout[4] }}</p>
    </main>
</section>
{% endblock %}