{% extends 'base.html' %}
{% block css %}<link rel="stylesheet" href="{{ url_for('static', filename='css/blog_post.css') }}">{% endblock %}
{% block title %}<title>Blog</title>{% endblock %}
{% block content %}
<section class="blog-post">
    <article>
        <img src="{{ url_for('static', filename='pictures/blog/blog-picture.jpg') }}" alt="Blog Post Img">
        <main>
            <h2>2023 - 12 - 01</h2>
            <h1>Bygg Muskelmassa Snabbt med Våra Magiska Tips</h1>
            <h3>4 Tips för Effektiv Muskeltillväxt</h3>
            <ol>
                <li><strong>Skapa en Regelbunden Träningsrutin:</strong> Regelbundenhet är nyckeln när det gäller att bygga muskler. Försök att träna minst tre till fyra gånger i veckan och var konsekvent med ditt schema.</li>
                <li><strong>Ät Rätt:</strong> Att bygga muskler kräver mer än bara träning. Du behöver också äta rätt för att ge din kropp de nödvändiga näringsämnena för muskeltillväxt. Fokusera på proteinrika livsmedel, komplexa kolhydrater och hälsosamma fetter.</li>
                <li><strong>Vila och Återhämtning:</strong> Att ge din kropp tid att vila och återhämta sig är lika viktigt som träningen i sig. När du tränar skapar du små tårar i dina muskler, och det är under vilotiden som dina muskler reparerar sig själva och växer.</li>
                <li><strong>Var Tålmodig:</strong> Muskeltillväxt tar tid, så var inte frustrerad om du inte ser omedelbara resultat. Var tålmodig, var konsekvent och kom ihåg att varje liten ansträngning räknas.</li>
            </ol>
            <h3>Din överraskning</h3>
            <p>Nu när du vet grundläggande om hur man bygger muskler, låt oss tala om hur vi på ScandiFit kan hjälpa dig att uppnå dina mål snabbare och mer effektivt.</p>
            <p>Vi förstår att bygga muskler kan kännas som en utmaning. Det är därför ScandiFit har tagit fram en lösning för dig, <strong>En helt GRATIS, personlig träningsplan som är skräddarsydd för just dina mål.</strong> Allt du behöver göra är att svara på några enkla frågor, vilket bara tar 60 sekunder! Därefter får du en träningsplan som är helt anpassad efter dina behov och mål, vare sig det är att gå ner i vikt, bygga muskler, förbättra konditionen eller bara känna dig hälsosammare.</p>
            <h3>Varför välja Erbjudande?</h3>
            <ol>
                <li>Snabbt och Enkelt: Vi vet att din tid är värdefull. Därför tar det <strong>bara 60 sekunder</strong> att få ditt personliga träningsprogram genom att svara på några enkla frågor!</li>
                <li>Personlig Anpassning: Vi förstår att varje individ är unik. Genom att ta hänsyn till <strong>dina specifika mål och önskemål</strong> kan vi skapa ett träningsprogram som är skräddarsytt just för DIG!</li>
                <li>Expertvägledning: Vårt team av erfarna tränare finns tillgängliga för att ge dig professionell rådgivning och stöd längs hela din träningsresa. Vi finns här för att <strong>hjälpa dig att nå dina mål!</strong></li>
                <li>Uppnå Resultat: Med vårt personliga träningsprogram och expertrådgivning kommer du att <strong>se verkliga resultat på nolltid!</strong> Vi är dedikerade till din framgång och att hjälpa dig att nå din fulla potential!</li>
                <li>Helt GRATIS: Vi tror på att göra hälsa och träning tillgängligt för alla. Därför är vårt personliga träningsprogram <strong>helt GRATIS!</strong> Inga dolda avgifter eller prenumerationer. Det är vår gåva till dig! </li>
                <li>Missa inte den här fantastiska möjligheten! Klicka på länken nedan för att komma igång och få ditt GRATIS personliga träningsprogram på bara 60 sekunder!</li>
            </ol>
            <a href="/quiz">Få Ditt Personliga Träningsschema</a>
        </main>
    </article>
    <aside>

        <a href="/blog/upptäck_hemligheterna_bakom_effektiv_hemmaträning">
            <img src="{{ url_for('static', filename='pictures/blog/blog-picture-two.webp') }}" alt="Blog Post Img">
            <h3>Upptäck Hemligheterna bakom Effektiv Hemmaträning</h3>
            <!-- <h4>249 KR</h4> -->
            <p>Skapa en Regelbunden Träningsrutin: Regelbundenhet är nyckeln när det gäller att bygga muskler. Försök att träna minst...</p>
        </a>

        <a href="/blog/effektiv_viktnedgång_din_väg_till_drömkroppen">
            <img src="{{ url_for('static', filename='pictures/blog/blog-picture-three.webp') }}" alt="Blog Post Img">
            <h3>Effektiv Viktnedgång: Din Väg till Drömkroppen</h3>
            <p>Att gå ner i vikt kan kännas som en utmaning, men med rätt inställning och verktyg kan du uppnå dina mål och njuta av resan. Här är...</p>
        </a>

        <a href="/blog/så_skapar_du_det_perfekta_träningsprogrammet">
            <img src="{{ url_for('static', filename='pictures/blog/blog-picture-four.png') }}" alt="Blog Post Img">
            <h3>Så Skapar Du Det Perfekta Träningsprogrammet!</h3>
            <p>Vill du bygga muskler, tappa vikt, förbättra din kondition, eller kanske en kombination av dessa? Ditt program ska vara utformat för att effektivt hjälpa dig...</p>
        </a>

    </aside>
</section>
{% endblock %}