{% extends 'profile_base.html' %}
{% block css %} {{ super() }} <link rel="stylesheet" href="{{ url_for('static', filename='css/profile_pricing.css') }}">{% endblock %}
{% block title %}<title>planer och priser</title>{% endblock %}
{% block content %}
{{ super() }}
<section class="plans_and_pricing">
    <h1>Välj Din Plan</h1>
    <article>

        <div>
            <aside>
                <img src="{{ url_for('static', filename='pictures/scandifit-gratis.png') }}" alt="Scandifit Free">
                <h2>Kostnad: <span>Gratis</span></h2>
            </aside>
            <article>
                <h3>Information baserad på</h3>
                <div>
                    <img src="{{ url_for('static', filename='pictures/books/bigger_leaner_stronger.jpg') }}" alt="Book">
                    <p>+</p>
                    <p>Grundläggande PT Kunskaper</p>
                </div>
                <ul>
                    <h3>Vad Får Jag Med?</h3>
                    <li>Skräddarsydd <span>TräningsPlan</span> <img src="{{ url_for('static', filename='pictures/icons/checkde-checkmark.png') }}" alt="Checked"></li>
                    <li>Skräddarsydd <span>KostPlan</span> <img src="{{ url_for('static', filename='pictures/icons/uncheacked-checkmark.png') }}" alt="Unchecked"></li>
                    <li>Skräddarsydd <span>SömnPlan</span> <img src="{{ url_for('static', filename='pictures/icons/uncheacked-checkmark.png') }}" alt="Unchecked"></li>
                    <li>Tillgång Till <span>Alla Övningar</span> <img src="{{ url_for('static', filename='pictures/icons/uncheacked-checkmark.png') }}" alt="Unchecked"></li>
                    <a href="/profile/schedual">Påbörja din gratis resa</a>
                </ul>
            </article>
        </div>

        <div>
            <aside>
                <img src="{{ url_for('static', filename='pictures/scandifit-exklusiv.png') }}" alt="Scandifit Free">
                <h2>Kostnad: <span>4999 Kr</span></h2>
            </aside>
            <article>
                <h3>Information baserad på</h3>
                <div>
                    <img src="{{ url_for('static', filename='pictures/books/bigger_leaner_stronger.jpg') }}" alt="Book">
                    <img src="{{ url_for('static', filename='pictures/books/why_we_sleep.jpg') }}" alt="Book">
                    <img src="{{ url_for('static', filename='pictures/books/the_fitness_mindset.jpg') }}" alt="Book">
                    <img src="{{ url_for('static', filename='pictures/books/how_to_eat.jpg') }}" alt="Book">
                    <img src="{{ url_for('static', filename='pictures/books/how_not_to_die.jpg') }}" alt="Book">
                    <img src="{{ url_for('static', filename='pictures/books/four_hour_body.jpg') }}" alt="Book">
                    <img src="{{ url_for('static', filename='pictures/books/fyra_timmars_kroppen.jpeg') }}" alt="Book">
                    <p>+</p>
                    <p>PT Kunskaper</p>
                </div>
                <ul>
                    <h3>Vad Får Jag Med?</h3>
                    <li>Skräddarsydd <span>TräningsPlan</span> <img src="{{ url_for('static', filename='pictures/icons/checkde-checkmark.png') }}" alt="Checked"></li>
                    <li>Skräddarsydd <span>KostPlan</span> <img src="{{ url_for('static', filename='pictures/icons/checkde-checkmark.png') }}" alt="Unchecked"></li>
                    <li>Skräddarsydd <span>SömnPlan</span> <img src="{{ url_for('static', filename='pictures/icons/checkde-checkmark.png') }}" alt="Unchecked"></li>
                    <li>Tillgång Till <span>Alla Övningar</span> <img src="{{ url_for('static', filename='pictures/icons/checkde-checkmark.png') }}" alt="Unchecked"></li>
                    <a href="/scandifit_exklusiv">Påbörja din exklusiva resa</a>
                </ul>
            </article>
        </div>

    </article>
</section>
{% endblock %}