{% extends 'base.html' %}
{% block css %}<link rel="stylesheet" href="{{ url_for('static', filename='css/profile_base.css') }}">{% endblock %}
{% block title %}<title>Profile Base</title>{% endblock %}
{% block content %}
<section class="profile-slide-container">

    <nav>
        <article>
            <button id="open-profile-slide-btn"><img src="{{ url_for('static', filename='pictures/icons/hamburger-menu.png') }}" alt="profile menu"></button>
        </article>
        <div>
            <!-- Checking If They Are Exclusive Users Or Not -->
            {% if exklusiv: %}
            <img src="{{ url_for('static', filename='pictures/scandifit-exklusiv.png') }}" alt="">
            {% else %}
            <img src="{{ url_for('static', filename='pictures/scandifit-gratis.png') }}" alt="">
            {% endif %}
        </div>
        <aside>
            <a href="/">Tillbaka Hem</a>
        </aside>
    </nav>

    <div class="backgorund-slide"></div>
    <main id="main-slide">
        <aside>
            <h2>{{ namn }} </h2>
            <h3>Våra TJänster</h3>
            <ul>
                <li><a id="all-exercises" href="/workouts/alla">Alla Övningar</a></li>
                <li><a id="din-trainingplan" href="/profile/trainingplan">Din Träningsplan</a></li>
                <li><a id="din-kostplan" href="/profile/dietplan">Din Kostplan</a></li>
                <li><a id="din-sömnplan" href="/profile/sleepplan">Din Sömnplan</a></li>
            </ul>
            <h3>Din information</h3>
            <ul>
                <li><a id="din-adress" href="/profile/adress">Din Adress</a></li>
                <li><a id="din-information" href="/profile/information">Din Information</a></li>
            </ul>
            <button id="close-slide-btn">X</button>
        </aside>
        <div>
            <!-- Checking If They Are Exclusive Users Or Not -->
            {% if exklusiv: %}
            {% else %}
            <a href="/profile/plans"><img src="{{ url_for('static', filename='pictures/icons/upgrade.png') }}" alt=""> Uppgradera plan</a>
            {% endif %}
            <a href="/logout"><img src="{{ url_for('static', filename='pictures/icons/logout.png') }}" alt=""> Logga ut</a>
        </div>
    </main>
</section>
{% endblock %}
{% block js %}<script src="{{ url_for('static', filename='js/profile_base.js') }}"></script>{% endblock %}