{% extends 'base.html' %}
{% block css %}<link rel="stylesheet" href="{{ url_for('static', filename='css/policy.css') }}">{% endblock %}
{% block title %}<title>Returpolicy</title>{% endblock %}
{% block content %}
<section class="secretespolicy">
    <main>

        <h1>Returpolicy för Scandifit</h1>

        <h2>Senast uppdaterad: 2023-12-21</h2>
        <p>Vi på Scandifit strävar efter att du ska vara helt nöjd med ditt köp. Om du av någon anledning behöver returnera en produkt, vänligen läs igenom vår returpolicy nedan för att säkerställa en smidig process.</p>

        <h2>Återbetalningar</h2>
        <p>Du har rätt att returnera varor inom 90 dagar från det att du mottagit dem.</p>
        <p>Återbetalning kommer att utföras med det ursprungliga betalningssättet så snart som möjligt efter att returen har godkänts och varan har mottagits.</p>

        <h2>Returprocess</h2>
        <p>Kontakta vår kundtjänst på Kontakta@scandifit.se för att meddela oss om din avsikt att returnera en produkt.</p>
        <p>Packa varan säkert för att undvika skador under returtransporten.</p>
        <p>Skicka varan till den angivna returadressen tillsammans med din originalfaktura eller orderbekräftelse.</p>
        <p>Efter mottagande och granskning av varan kommer vi att meddela dig om din retur har godkänts.</p>

        <h2>Viktiga punkter att notera</h2>
        <p>Varan måste returneras i sitt ursprungliga skick och i originalförpackningen.</p>
        <p>Eventuella skador som uppstår under returtransporten ansvarar köparen för.</p>
        <p>Anpassade eller personliga produkter kan vara undantagna från returrätt.</p>

        <h2>Fraktkostnader</h2>
        <p>Kunden ansvarar för fraktkostnaderna för returvaror om inte annat anges.</p>

        <h2>Defekta eller felaktiga varor</h2>
        <p>Om du mottar en defekt eller felaktig produkt, vänligen kontakta vår kundtjänst så snart som möjligt för att ordna ersättning eller återbetalning.</p>

    </main>
</section>
{% endblock %}
