.blog-post {
    max-width: 1600px;
    width: 90%;
    margin: 50px auto;
    display: flex;
    gap: 50px;
}

.blog-post > article {
    flex: 2;
}

.blog-post > article > img {
    max-width: 100%;
    border-radius: 15px;
}

.blog-post > article > main {
    width: 95%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.blog-post > article > main > h2 {
    font-weight: lighter;
    font-size: 23px;
    letter-spacing: 1px;
    margin: 20px 0px;
}

.blog-post > article > main > h1 {
    font-family: var(--primary-font);
    font-size: 65px;
    letter-spacing: 2px;
    margin: 0px 0px 50px 0px;
}

.blog-post > article > main > h3 {
    font-family: var(--primary-font);
    font-size: 30px;
    letter-spacing: 1px;
    margin: 0px 0px 35px 0px;
}

.blog-post > article > main > ol > li {
    font-size: 20px;
    font-weight: lighter;
    line-height: 30px;
    letter-spacing: 1px;
    margin: 0px 0px 30px 0px;
}

.blog-post > article > main > ol > li > strong {
    font-weight: bold;
}

.blog-post > article > main > p {
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 30px;
    margin: 0px 0px 30px 0px;
}

.blog-post > article > main > p > strong {
    font-weight: bold;
}

.blog-post > article > main > a {
    padding: 15px 20px;
    width: 300px;
    text-align: center;
    background-color: var(--company-color);
    font-family: var(--primary-font);
    text-decoration: none;
    color: var(--primary-color);
    font-size: 20px;
    border-radius: 5px;
    letter-spacing: 1.2px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    transition: .5s all;
}

.blog-post > article > main > a:hover {
    background-color: #2da455;
}

.blog-post > aside {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.blog-post > aside > a {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    border-radius: 15px;
    overflow: hidden;
    text-decoration: none;
    color: var(--secondary-color);
}

.blog-post > aside > a > img {
    width: 100%;
}

.blog-post > aside > a > h3 {
    font-family: var(--primary-font);
    margin: 10px;
    font-size: 25px;
    letter-spacing: 1px;
}

.blog-post > aside > a > h4 {
    margin: 10px;
    font-weight: lighter;
}

.blog-post > aside > a > p {
    margin: 10px;
    letter-spacing: 1px;
}

@media screen and (max-width: 1150px) {

    .blog-post {
        flex-direction: column;
    }

    .blog-post > aside {
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
    }

    .blog-post > aside > a {
        width: 400px;
    }

}

@media screen and (max-width: 950px) {

    .blog-post {
        width: 98%;
    }

    .blog-post > article > main {
        width: 98%;
    }

    .blog-post > article > main > h2 {
        font-size: 18px;
    }
    
    .blog-post > article > main > h1 {
        font-size: 45px;
        letter-spacing: 1px;
    }
    
    .blog-post > article > main > h3 {
        font-size: 25px;
    }
    
    .blog-post > article > main > ol > li {
        font-size: 18px;
    }
    
    .blog-post > article > main > p {
        font-size: 18px;
    }

    .blog-post > aside {
        gap: 20px;
    }

    .blog-post > aside > a {
        width: 45%;
    }

}

@media screen and (max-width: 550px) {

    .blog-post > article > main > h2 {
        font-size: 16px;
    }
    
    .blog-post > article > main > h1 {
        font-size: 40px;
        letter-spacing: .5px;
    }
    
    .blog-post > article > main > h3 {
        font-size: 20px;
    }
    
    .blog-post > article > main > ol > li {
        font-size: 16px;
    }
    
    .blog-post > article > main > p {
        font-size: 16px;
    }

    .blog-post > aside {
        gap: 20px;
    }

    .blog-post > aside > a {
        width: 100%;
    }

    .blog-post > article > main > a {
        width: 80%;
    }

}