.blog {
    max-width: 1600px;
    margin: 100px auto;
    width: 90%;
}

.blog > h1 {
    font-family: var(--primary-font);
    font-size: 65px;
    letter-spacing: 2px;
    margin: 0px 0px 50px 0px;
}

.blog > h1 > span {
    border-left: 1px solid var(--secondary-color);
    padding: 0px 15px;
    font-size: 55px;
}

.blog > a {
    text-decoration: none;
    color: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    border-radius: 15px;
}

.blog > a > img {
    border-radius: 15px 0px 0px 15px;
    width: 50%;
}

.blog > a > div {
    padding: 50px 10px 50px 50px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.blog > a > div > h2 {
    font-size: 65px;
    letter-spacing: 1.5px;
    font-family: var(--primary-font);
    margin: 20px 0px;
}

.blog > a > div > p {
    font-size: 20px;
    letter-spacing: 1.5px;
}

.blog > main {
    margin: 50px 0px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
    /* row-gap: 50px; */
}

.blog > main > a {
    text-decoration: none;
    color: var(--secondary-color);
    padding: 0px 0px 20px 0px;
    border-radius: 15px;
    width: 30%;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.blog > main > a > img {
    width: 100%;
}

.blog > main > a > p {
    margin: 10px auto 0px auto;
    inline-size: 80%;
    font-size: 12px;
}

.blog > main > a > h2 {
    margin: 10px auto 0px auto;
    inline-size: 80%;
    font-size: 25px;
    font-family: var(--primary-font);
}

@media screen and (max-width: 1130px) {

    .blog > a > img {
        width: 50%;
    }
    
    .blog > a > div {
        padding: 20px 10px 20px 25px;
    }
    
    .blog > a > div > h2 {
        font-size: 45px;
        letter-spacing: 1px;
        margin: 10px 0px;
    }
    
    .blog > a > div > p {
        font-size: 18px;
        letter-spacing: 1px;
    }

}

@media screen and (max-width: 875px) {

    .blog > a {
        display: none;
    }

    .blog > h1 {
        font-size: 55px;
        letter-spacing: 1px;
        text-align: center;
    }
    
    .blog > h1 > span {
        font-size: 45px;
        border-top: 1px solid var(--secondary-color);
        border-left: 0;
        padding: 10px;
        display: block;
    }

    .blog > main {
        justify-content: center;
    }

    .blog > main > a {
        width: 85%;
    }
    
    .blog > main > a > p {
        inline-size: 90%;
        font-size: 16px;
    }
    
    .blog > main > a > h2 {
        inline-size: 90%;
        font-size: 35px;
    }

}

@media screen and (max-width: 550px) {

    .blog > main > a {
        width: 95%;
    }
    
    .blog > main > a > p {
        font-size: 14px;
    }
    
    .blog > main > a > h2 {
        font-size: 30px;
    }

}