.recipe_section {
    padding: 50px 100px;
    max-width: 1600px;
    margin: auto;
}

.recipe_section > article {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin: 0px 0px 75px 0px;
}

.recipe_section > article > img {
    flex: 1;
    width: 800px;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 #333;
}

.recipe_section > article > aside {
    flex: 1;
}

.recipe_section > article > aside > h1 {
    font-family: var(--primary-font);
    font-size: 45px;
    letter-spacing: 1.5px;
    margin: 0px 0px 5px 0px;
}

.recipe_section > article > aside > h3 {
    font-size: 16px;
    letter-spacing: .5px;
    margin: 0px 0px 5px 0px;
}

.recipe_section > article > aside > h3 > span {
    font-weight: bold;
}

.recipe_section > article > aside > h2 {
    font-size: 20px;
    letter-spacing: 1px;
    margin: 20px 0px 10px 0px;
}

.recipe_section > article > aside > div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    row-gap: 10px;
    column-gap: 15px;
}

.recipe_section > article > aside > div > a {
    padding: 10px 6px;
    border-radius: 5px;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    text-decoration: none;
    font-size: 14px;
    transition: .5s all;
}

.recipe_section > article > aside > div > a:hover {
    background-color: #1f1f1f;
    box-shadow: 0 0 10px 0 #333;
}

.recipe_section > article > aside > p {
    line-height: 1.25;
    letter-spacing: .5px;
}

.recipe_section > article > aside > .line {
    width: 100%;
    height: 1px;
    background-color: var(--secondary-color);
    margin: 20px 0px;
}

@media screen and (max-width: 1550px) {

    .recipe_section {
        padding: 25px 0px;
    }

    .recipe_section > article {
        gap: 25px;
        width: 95%;
        margin: 0px auto 75px auto;
    }

}

@media screen and (max-width: 1400px) {

    .recipe_section > article {
        gap: 15px;
    }

    .recipe_section > article > img {
        width: 400px;
    }

    .recipe_section > article > aside > h1 {
        font-size: 35px;
    }

    .recipe_section > article > aside > h3 {
        font-size: 14px;
    }

    .recipe_section > article > aside > h2 {
        font-size: 16px;
    }

    .recipe_section > article > aside > div > a {
        font-size: 12px;
    }

}

@media screen and (max-width: 1000px) {

    .recipe_section {
        padding: 0px 0px 25px 0px;
    }

    .recipe_section > article > img {
        width: 100%;
    }

    .recipe_section > article {
        display: flex;
        flex-direction: column;
        gap: 25px;
    }

}

/* ingredients */

.recipe_section > .ingredients {
    width: 95%;
    margin: 40px auto 0px auto;
}

.recipe_section > .ingredients > table {
    border: 1px solid var(--secondary-color);
    padding: 20px;
    border-radius: 5px;
    width: 95%;
    margin: auto;
}

.recipe_section > .ingredients > table th {
    padding: 20px;
    border: 1px solid var(--primary-color);
    text-align: left;
    font-size: 20px;
    letter-spacing: 1px;
}

.recipe_section > .ingredients > table td {
    padding: 18px;
    border: 1px solid var(--secondary-color);
    text-align: left;
    font-size: 20px;
    letter-spacing: 1px;
}

.recipe_section > .ingredients > table th {
    background-color: var(--secondary-color);
    color: white;
}

@media screen and (max-width: 550px) {

    .recipe_section > .ingredients > table th {
        padding: 15px;
        font-size: 16px;
    }
    
    .recipe_section > .ingredients > table td {
        padding: 10px;
        font-size: 14px;
    }

}

/* steps */

.recipe_section > .steps {
    width: 95%;
    margin: 40px auto 0px auto;
}

.recipe_section > .steps > table {
    border: 1px solid var(--secondary-color);
    padding: 20px;
    border-radius: 5px;
    width: 95%;
    margin: auto;
}

.recipe_section > .steps > table th {
    padding: 20px;
    border: 1px solid var(--primary-color);
    text-align: left;
    font-size: 20px;
    letter-spacing: 1px;
}

.recipe_section > .steps > table td {
    padding: 18px;
    border: 1px solid var(--secondary-color);
    text-align: left;
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 1.25;
}

.recipe_section > .steps > table th {
    background-color: var(--secondary-color);
    color: white;
}

@media screen and (max-width: 550px) {

    .recipe_section > .steps > table th {
        padding: 15px;
        font-size: 16px;
    }
    
    .recipe_section > .steps > table td {
        padding: 10px;
        font-size: 14px;
    }

}

/* nutrients */

.recipe_section > .nutrients {
    width: 95%;
    margin: 40px auto 0px auto;
}

.recipe_section > .nutrients > table {
    border: 1px solid var(--secondary-color);
    padding: 20px;
    border-radius: 5px;
    width: 95%;
    margin: auto;
}

.recipe_section > .nutrients > table th {
    padding: 20px;
    border: 1px solid var(--primary-color);
    text-align: left;
    font-size: 20px;
    letter-spacing: 1px;
}

.recipe_section > .nutrients > table td {
    padding: 18px;
    border: 1px solid var(--secondary-color);
    text-align: left;
    font-size: 20px;
    letter-spacing: 1px;
}

.recipe_section > .nutrients > table th {
    background-color: var(--secondary-color);
    color: white;
}

@media screen and (max-width: 550px) {

    .recipe_section > .nutrients > table th {
        padding: 15px;
        font-size: 16px;
    }
    
    .recipe_section > .nutrients > table td {
        padding: 10px;
        font-size: 14px;
    }

}
